﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Subscription.ascx.cs" Inherits="AvidGolfer.Web.usercontrols.Subscription" %>

<div>
    <asp:UpdatePanel ID="updateASCX" runat="server" UpdateMode="Always">
        <ContentTemplate>
            <asp:PlaceHolder ID="placeholderASCX" runat="server" />
        </ContentTemplate>
    </asp:UpdatePanel>
</div>
