﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Twitterfeed.ascx.cs" Inherits="Twitterfeed.Twitterfeed" %>
<div id="twitter" class="twitter_feed">	
	<div id="twitter_t">Ideal Golfer</div>
		<div id="twitter_m">
			<div id="twitter_container">
				<ul id="twitter_update_list"></ul>
			</div>
		</div>
	<div id="twitter_b">
		<img src="/images/small_twitter_share.png" />
		<a href="http://twitter.com/vinson_matthew" id="twitter-link">Join the conversation</a>
	</div>
    </div>
</div>
