﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CreateAccounts.ascx.cs" Inherits="AvidGolfer.Web.usercontrols.CreateAccounts" %>

<div id="uploadFile">
    <h2>Select File Then Click Upload</h2>
    <asp:Label ID="lblMessage" Visible="false" runat="server" /><br />
    <asp:FileUpload ID="fuAccounts" runat="server" /><br />
    <asp:Button ID="btnUpload" runat="server" Text="Upload" 
        onclick="btnUpload_Click" />
</div>
