﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SubscriptionOrderManager.ascx.cs" Inherits="AvidGolfer.Web.usercontrols.SubscriptionOrderManager" %>

<%@ Import Namespace="AvidGolfer.Entities"%>
<%@ Import Namespace="AvidGolfer.Components" %>

<script type="text/C#" runat="server">

    protected string GetOrderStatus(int status)
    {
        try
        {
            OrderStatus os = (OrderStatus)status;
            return os.ToString();
        }
        catch (Exception ex)
        {
            return "Unknown";
        }

    }


    protected string GetAction(int orderid, int status)
    {
        string cancelLink = HttpContext.Current.Request.Url.AbsolutePath;
        return cancelLink;
        try
        {
            OrderStatus os = (OrderStatus)status;

            if (os == OrderStatus.Purchased || os == OrderStatus.Active)

                return os.ToString();
        }
        catch (Exception ex)
        {
            return "";
        }

        return "test";
    }

</script>
<script type="text/javascript">
    $(document).ready(function () {
        if ("<%= persistPopup %>" == "edititem") {
            $("#itemDetails").modal({ overlayClose: true, appendTo: "form" });
        }

        $("#<%= txtShipDate.ClientID %>").datepicker();
        $("#<%= txtReviewDate.ClientID %>").datepicker();
        $("#<%= txtStartDate.ClientID %>").datepicker();
        $("#<%= txtExpireDate.ClientID %>").datepicker();
    });

//    function openModal() {
//        $("#itemDetails").modal({ overlayClose: true, appendTo: "form" });
//    }

    function closeSearch() {
        $.modal.close();
    }
</script>

<style type="text/css">
    #orderList th, td 
    {
        border: none;
        padding: 5px;
        margin: 5px;
    }
</style>

<h1>Subscription Order Manager</h1>

Search for subscriptions by combining the fields below <br />
<br />

<asp:Panel ID="pnlSearchForm" runat="server">
   <table>
    <tr>
        <td>
            Order Id:<br />
            <asp:TextBox ID="txtOrderId" runat="server" />
        </td>
        <td>
            Email Address:
            <asp:TextBox ID="txtEmailSearch" runat="server" />
        </td>
        <td>
            Last Name:
            <asp:TextBox ID="txtLastSearch" runat="server" />
        </td>
    </tr>
    <tr>
        <td>
            Zip Code:
            <asp:TextBox ID="txtZipSearch" runat="server" />
        </td>
        <td>
            Telephone Number:
            <asp:TextBox ID="txtPhoneSearch" runat="server" />
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            <asp:Button ID="buttonSearch" runat="server" Text="Search" onclick="buttonSearch_Click" />
        </td>
    </tr>
   </table>
    
</asp:Panel>

<asp:Panel ID="pnlSearchNoResults" runat="server" Visible="false">
    <h2>Search Results</h2>
    <div id="div1" class="accountTablediv" runat="server">
        Your search returned zero results.
    </div>
    
</asp:Panel>
<asp:Panel ID="pnlOrders" runat="server" Visible="false">
    <h2>Orders</h2>
    <div id="divOrders">
        <table width="100%" border="0">
           <tr>
              <td>  <asp:label id="lblCurrentPage" runat="server"></asp:label></td>
           </tr>
           <tr>
              <td>  
                <asp:button id="cmdPrev" runat="server" text=" << " onclick="cmdPrev_Click"></asp:button>
                <asp:button id="cmdNext" runat="server" text=" >> " onclick="cmdNext_Click"></asp:button>
              </td>
           </tr>
</table>
        <table id="orderList" border="0">
            <tr>
                <th>
                    <asp:Label ID="lblOrder" runat="server" Text="Order Id" Font-Bold="true" />
                </th>
                <th>
                    <asp:Label ID="lblFirstName" runat="server" Text="First Name:" Font-Bold="true" />
                </th>
                <th>
                    <asp:Label ID="lblLastName" runat="server" Text="Last Name:" Font-Bold="true" />
                </th>
                <th>
                    <asp:Label ID="lblRuserId" runat="server" Text="User ID: " Font-Bold="true" />
                </th>
                <th>
                    <asp:Label ID="lblDetails" runat="server" Text="Details" Font-Bold="true" />
                </th>
                <th>
                    <asp:Label ID="lblNewOrder" runat="server" Text="Create New Order" Font-Bold="true" />
                </th>
            </tr>
            <asp:Repeater ID="rpUsers" runat="server" onitemcommand="rpUsers_ItemCommand">
                <ItemTemplate>
                    <tr>
                       <td> 
                            <asp:Literal ID="ltOrderId" runat="server" Text='<%# Eval("orderid") %>' /></td>
                        <td>
                            <asp:Literal ID="ltFirstName" runat="server" Text='<%# Eval("firstname") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltLastName" runat="server" Text='<%# Eval("lastname") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltuserId" runat="server" Text='<%# Eval("userid") %>' />
                        </td>
                        <td>
                            <asp:LinkButton ID="lnkDetails" runat="server" Text="Details" CommandArgument='<%# Eval("orderid") %>' CommandName="Order" />
                        </td>
                        <td>
                            <a href="/order/new-order.aspx?userId=<%# Eval("userid") %>" target="_blank">New</a>
                        </td>
                    </tr>
                </ItemTemplate>
            </asp:Repeater>
        </table>
    </div>
</asp:Panel>
<asp:Panel ID="pnlSearchResults" runat="server" Visible="false" CssClass="pnlSearchResults">
    <h2>Search Results</h2>
    <div id="divOrderHistory" runat="server">
    <asp:Repeater ID="rpOrder" runat="server" onitemdatabound="rpOrder_ItemDataBound" 
            onitemcommand="rpOrder_ItemCommand">
        <ItemTemplate>
            <br />
            <asp:HiddenField ID="hdnOrderId" runat="server" Value='<%# Eval("orderid") %>' />
            <asp:Label ID="lblFirstName" runat="server" Text="First Name:" Font-Bold="true" />&nbsp;
            <asp:Literal ID="ltFirstName" runat="server" Text='<%# Eval("firstname") %>' />&nbsp;&nbsp;
            <asp:Label ID="lblLastName" runat="server" Text="Last Name:" Font-Bold="true" />&nbsp;
            <asp:Literal ID="ltLastName" runat="server" Text='<%# Eval("lastname") %>' />&nbsp;&nbsp;
            <asp:Label ID="lblRuserId" runat="server" Text="User ID: " Font-Bold="true" />&nbsp;
            <asp:Literal ID="ltuserId" runat="server" Text='<%# Eval("userid") %>' />&nbsp;&nbsp;
            <asp:Label ID="lbltransaction" runat="server" Text="Transaction ID:" Font-Bold="true" />&nbsp;
            <asp:Literal ID="lttransaction" runat="server" Text='<%# Eval("tansactionid") %>' /><br />
            <div class="billAddress">
                <asp:Label ID="lblBillAddress" runat="server" Text="Billing Address:" Font-Bold="true" /><br />
                <asp:TextBox ID="txtBillStreet" runat="server" Text='<%# Eval("billstreet") %>' Width="200" /><br /><br />
               <asp:Literal ID="ltBillCity" runat="server" Text='<%# Eval("billcity") %>' />,&nbsp;
                <asp:Literal ID="ltBillState" runat="server" Text='<%# Eval("billstate") %>' /><br />
                <asp:TextBox ID="txtBillZip" runat="server" Text='<%# Eval("billzip") %>' /><br /><br />
                <asp:TextBox ID="txtBillPhone" runat="server" Text='<%# Eval("billphone") %>' /><br /><br />
                <asp:TextBox ID="txtBillEmail" runat="server" Text='<%# Eval("billemail") %>' Width="200" /><br />
            </div>
            <div class="shipAddress">
                <asp:Label ID="lblShippingAddress" runat="server" Text="Shipping Address:" Font-Bold="true" /><br />
                <asp:TextBox ID="txtShippingStreet" runat="server" Text='<%# Eval("shipstreet") %>' Width="200" /><br /><br />
                <asp:Literal ID="ltShippingCity" runat="server" Text='<%# Eval("shipcity") %>' />,&nbsp;
                <asp:Literal ID="ltShippingState" runat="server" Text='<%# Eval("shipstate") %>' /><br />
                <asp:TextBox ID="txtShippingZip" runat="server" Text='<%# Eval("shipzip") %>' /><br /><br />
                <asp:TextBox ID="txtShippingPhone" runat="server" Text='<%# Eval("shipphone") %>' /><br /><br />
                <asp:TextBox ID="txtShippingEmail" runat="server" Text='<%# Eval("shipemail") %>' Width="200" /><br /><br />
            </div>
            <div class="clear"></div>
            <div class="orderDates">
                <asp:Label ID="lblOrderType" runat="server" Text="Order Type:" Font-Bold="true" />&nbsp;
                <asp:DropDownList ID="dlOrderType" runat="server" /><br />
                <asp:Label ID="lblDateCreated" runat="server" Text="Date Created:" Font-Bold="true"  />&nbsp;
                <asp:Literal ID="ltDateCreated" runat="server" Text='<%# Eval("createdate", "{0:M-dd-yyyy}") %>' /><br />
                <asp:Label ID="lblDateModified" runat="server" Text="Date Modified:" Font-Bold="true" />&nbsp;
                <asp:Literal ID="ltDateModified" runat="server" Text='<%# Eval("modifydate", "{0:M-dd-yyyy}") %>' /><br />
                <asp:Label ID="lblDateReviewed" runat="server" Text="Review Date:" Font-Bold="true" />
                <asp:Literal ID="ltDateReviewed" runat="server" Text='<%# Eval("reviewdate", "{0:M-dd-yyyy}") %>' /><br />
                <asp:Label ID="lblShippingAmount" runat="server" Text="Order Total:" Font-Bold="true" />&nbsp;
                <asp:TextBox ID="txtShippingAmount" runat="server" Text='<%# Eval("shippingamount", "{0:N2}") %>' />
                 <br />
                 <asp:Label ID="lblRNotes" runat="server" Text="Notes:" Font-Bold="true" /><br />
                 <asp:TextBox ID="ltNotes" runat="server" TextMode="MultiLine" Columns="50" Rows="15" Text='<%# Eval("notes") %>' /><br />
                <asp:Button ID="btnUpdate" runat="server" Text="Update" CommandName="Update" 
                    CommandArgument='<%# Eval("orderid") %>' />
            </div>
            
             <br />
              <h3>
                <asp:Label ID="lblOrderItems" runat="server" Text="Order Items:" Font-Bold="true"  />
              </h3>
              <br />
              <table class="orderSummary">
             
             <asp:Repeater ID="rpOrderItems" runat="server" OnItemCommand="rpOrderItems_ItemCommand">
                <ItemTemplate>
                    <tr>
                        <td>
                        <asp:LinkButton ID="lnkOrderItemId" runat="server" CommandName="Select"
                        CommandArgument='<%# Eval("orderitemid") %>' Text="Select"   />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="lblOrderItemId" runat="server" Text="Order Item ID:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblItemId" runat="server" Text="Item ID:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRProductId" runat="server" Text="Product ID:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRProductName" runat="server" Text="Product Name:" Font-Bold="true" />
                            
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Literal ID="ltOrderItemId" runat="server" Text='<%# Eval("orderitemid") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltItemID" runat="server" Text='<%# Eval("itemid") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltRProductId" runat="server" Text='<%# Eval("productid") %>' />
                        </td>
                        <td>
                           <asp:Literal ID="ltRProductName" runat="server" Text='<%# Eval("productname") %>' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <asp:Label ID="lblRQuantity" runat="server" Text="Quantity:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRPrice" runat="server" Text="Price:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRTax" runat="server" Text="Tax:" Font-Bold="true"  />
                        </td>
                        <td>
                         <asp:Label ID="lblRTotal" runat="server" Text="Total:" Font-Bold="true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Literal ID="ltRQuantity" runat="server" Text='<%# Eval("quantity") %>' />
                        </td>
                        <td>
                             $<asp:Literal ID="ltRPrice" runat="server" Text='<%# Eval("price", "{0:N2}") %>' />
                        </td>
                        <td>
                            $<asp:Literal ID="ltRTax" runat="server" Text='<%# Eval("tax", "{0:N2}") %>' />
                        </td>
                        <td>
                             $<asp:Literal ID="ltTotal" runat="server" Text='<%# Eval("total", "{0:N2}") %>' />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <asp:Label ID="lblRStartDate" runat="server" Text="Start Date:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRExpireDate" runat="server" Text="Expire Date:" Font-Bold="true"  />
                        </td>
                        <td>
                            <asp:Label ID="lblRShipDate" runat="server" Text="Ship Date:" Font-Bold="true"  />
                        </td>
                        <td>
                            <asp:Label ID="lblRCreateDate" runat="server" Text="Date Created:" Font-Bold="true"  />
                        </td>
                    </tr>
                   <tr>
                        <td>
                            <asp:Literal ID="ltRStartDate" runat="server" Text='<%# Eval("startdate","{0:M-dd-yyyy}" ) %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltRExpireDate" runat="server" Text='<%# Eval("expiredate","{0:M-dd-yyyy}" ) %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltRShipDate" runat="server" Text='<%# Eval("shipdate","{0:M-dd-yyyy}" ) %>' />
                        </td>
                        <td>
                        <asp:Literal ID="ltrCreateDate" runat="server" Text='<%# Eval("createdate", "{0:M-dd-yyyy}" ) %>' />
                        </td>
                   </tr>
                   <tr>
                        <td>
                            <asp:Label ID="lblRModifyDate" runat="server" Text="Date Modified:" Font-Bold="true"  />
                        </td>
                        <td>
                            <asp:Label ID="lblRReviewDate" runat="server" Text="Review Date:" Font-Bold="true" />
                        </td>
                        <td>
                            <asp:Label ID="lblRStatus" runat="server" Text="Status:" Font-Bold="true"  />
                        </td>
                        <td>
                            <asp:Label ID="lblRSku" runat="server" Text="Sku:" Font-Bold="true"  />
                        </td>
                   </tr>
                   <tr>
                        <td>
                            <asp:Literal ID="ltRModifyDate" runat="server" Text='<%# Eval("modifydate", "{0:M-dd-yyyy}") %>' />
                        </td>
                        <td>
                             <asp:Literal ID="ltRReviewDate" runat="server" Text='<%# Eval("reviewdate", "{0:M-dd-yyyy}") %>' />
                        </td>
                        <td>
                             <asp:Literal ID="ltrStatus" runat="server" Text='<%# Eval("status") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltRSku" runat="server" Text='<%# Eval("sku") %>' />
                        </td>
                   </tr>
                   <tr>
                        <td>
                             <asp:Label ID="lblROrderStatus" runat="server" Text="Order Status:" Font-Bold="true"  />
                        </td>
                        <td>
                            <asp:Label ID="lblRSubscription" runat="server" Text="Subscription Status:" Font-Bold="true"  />
                        </td>
                        <td colspan="2">
                            <asp:Label ID="lblRNotes" runat="server" Text="Notes:" Font-Bold="true"   />
                        </td>
                   </tr>
                   <tr>
                        <td>
                            <asp:Literal ID="ltROrderStatus" runat="server" Text='<%# Eval("orderStatus") %>' />
                        </td>
                        <td>
                            <asp:Literal ID="ltRSubscriptioin" runat="server" Text='<%# Eval("subscriptionstatus") %>' />
                        </td>
                        <td colspan="2">
                             <asp:Literal ID="ltRNotes" runat="server" Text='<%# Eval("notes") %>' Mode="PassThrough" />
                        </td>
                   </tr>
                   <tr>
                    <td colspan="4">
                        <hr />
                    </td>
                   </tr>
                </ItemTemplate>
             </asp:Repeater>
             </table>
            </ItemTemplate>
    </asp:Repeater>
    </div>
   
</asp:Panel>
<asp:Panel ID="pnPopup" runat="server">
    <div id="itemDetails">
        <a class="xClose" href="javascript:closeSearch()">Close X</a><br />
        <asp:HiddenField ID="hdnItemId" runat="server" />
        <asp:Label ID="lblOrderItemId" runat="server" Text="Order Item ID:" Font-Bold="true"   />&nbsp;
        <asp:Literal ID="lititemId" runat="server" /><br />
        <asp:Label ID="lblOrderId" runat="server" Text="Order ID:" Font-Bold="true"  />&nbsp;
        <asp:Literal ID="ltOrderId" runat="server" /><br />
        <asp:Label ID="lblProductId" runat="server" Text="Product ID:" Font-Bold="true"  />&nbsp;
        <asp:Literal ID="ltProductId" runat="server" /><br />
        <!--
        <asp:Label ID="lblQuantity" runat="server" Text="Quantity:" Font-Bold="true"  />&nbsp;
        <asp:Literal ID="ltQuantity" runat="server" /><br />
        -->
        <asp:Label ID="lblPrice" runat="server" Text="Price:" Font-Bold="true"  />&nbsp;
        $<asp:TextBox ID="txtPrice" runat="server"  /><br />
        <asp:Label ID="lblTax" runat="server" Text="Tax:" Font-Bold="true" />&nbsp;
        <asp:Literal ID="ltTax" runat="server" /><br />
        <asp:Label ID="lblTotal" runat="server" Text="Total:" Font-Bold="true"  />&nbsp;
        <asp:Literal ID="ltTotal" runat="server" /><br />
        <%--<asp:Label ID="lblStatus" runat="server" /><br />--%>
        <%--<asp:DropDownList ID="ddlStatus" runat="server" /><br />--%>
         <asp:Label ID="lblNotes" runat="server" Text="Notes:" Font-Bold="true" /><br />
        <asp:TextBox ID="txtNotes" runat="server" TextMode="MultiLine" Rows="5" Columns="30" /><br />
        <asp:Label ID="lblStartDate" runat="server" Text="Start Date:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtStartDate" runat="server" CssClass="shipDate" /><br />
        <asp:Label ID="lblExpireDate" runat="server" Text="Expire Date:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtExpireDate" runat="server" CssClass="shipDate" /><br />
        <asp:Label ID="lblShipDate" runat="server" Text="Ship Date:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtShipDate" runat="server" CssClass="shipDate" /><br />
        <asp:Label ID="lblCreateDate" runat="server" Text="Date Created:"  Font-Bold="true" />&nbsp;
        <asp:Literal ID="ltCreateDate" runat="server" /><br />
        <asp:Label ID="lblModifyDate" runat="server" Text="Date Modified:" Font-Bold="true"  />&nbsp;
        <asp:Literal ID="ltModifyDate" runat="server" /><br />
        <asp:Label ID="lblReviewDate" runat="server" Text="Review Date:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtReviewDate" runat="server" CssClass="reviewDate" /><br />
        <asp:Label ID="lblProductName" runat="server" Text="Product Name:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtProductName" runat="server" /><br />
        <asp:Label ID="lblRegion" runat="server" Text="Region:" Font-Bold="true"  />&nbsp;
        <asp:DropDownList ID="ddlRegionType" runat="server" /><br />
        <asp:Label ID="lblSku" runat="server" Text="Subscription Code:" Font-Bold="true"  />&nbsp;
        <asp:TextBox ID="txtSku" runat="server" /><br />
        <asp:Label ID="lblOrderStatus" runat="server" Text="Order Status:" Font-Bold="true"  />&nbsp;
        <asp:DropDownList ID="ddlOrderStatus" runat="server" /><br />
        <asp:Label ID="lblSubscriptionStatus" runat="server" Text="Subscription Status:" Font-Bold="true"  />&nbsp;
        <asp:DropDownList ID="ddlSubscriptionStatus" runat="server" /><br />
        <asp:Button ID="btnRecord" runat="server" Text="Update" 
            onclick="btnRecord_Click" />
        <asp:Button ID="btnCancel" runat="server" Text="Cancel" 
             onclick="btnCancel_Click"  />
    </div>
</asp:Panel>
 
