﻿
/* default styles *****************************/

.defaultPage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 40px auto 0px auto;
    width: 310px;
}

.buttondefault
{
    height: 24px;
    width: 120px;
}

.buttondefaultleft
{
    height: 24px;
    margin-left: 40px;
    width: 120px;
}

.failurenotification
{
    color: Red;
    font-size: .8em;
}

.padbottom
{
    padding-bottom: 12px;
}

.padbottomtop
{
    padding-bottom: 12px;
    padding-top: 12px;
}

.padleft
{
    padding-left: 20px;
}

.padtop
{
    padding-bottom: 12px;
}

.paratext 
{
    font-size: .8em;
}

.paratextbold 
{
    font-weight: bold;
}

.paratextblue 
{
    color: #0000FF;
    font-weight: bold;
}

.subsuptext 
{
    color: #0000FF;
}

.textentry 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 160px;
}

.textentryphone 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 90px;
}

.textentrysmall 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 60px;
}

/* LogIn styles *****************************/

.loginButtonemail
{
    color: #0000FF;
    font-size: .9em;
    font-weight: bold;
    margin: 20px 20px 20px 12%;
}

/* Profile styles *****************************/
.profilePage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 20px auto 0px auto;
    width: 380px;
}

.profilepadbottom
{
    padding-bottom: 6px;
}


/* Registratin styles *****************************/
.registerPagesuccess
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 40px auto 0px auto;
    text-align: center;
    width: 440px;
}

