﻿@*
LIST CHILDREN BY TYPE
=================================
This snippet shows how simple it is to fetch only children of a certain Document Type using Razor. Instead of
calling .Children, simply call .AliasOfDocumentType (even works in plural for readability)! 
For instance .Textpage or .Textpages (you can find the alias of your Document Type by editing it in the 
Settings section).

NOTE: It is safe to remove this comment (anything between @ * * @), the code that generates the list is only the below!

articleType
bodyText
copy
introduction
location




*@
@using umbraco
@using System.Linq
@using umbraco.NodeFactory
@using umbraco.interfaces
@using umbraco.cms.businesslogic.media



@functions {

	string GetPropertyAsString(IProperty iProp)
	{
		var strResult = "";
		if (iProp != null)
			strResult = iProp.ToString().ToLower();
		
		return strResult;
	}


}



@{
	var rootNode = new Node(-1);
	var searchString = "____";
	var count = 0;
	var rightborder = "";
	var msgNoResults = "Zero results found.";
	var msgXResults = "results found.";
	
	if( @Model.Url.Contains("search.aspx") ){
		msgNoResults = "Search returned zero results.";
		msgXResults = " results found.";
	}

	if( !String.IsNullOrEmpty(Request.QueryString["q"]) ){
		searchString = Request.QueryString["q"].ToString();
	}


	@* var foundNodes = rootNode.GetDescendantNodes(); *@
	var foundNodes = rootNode.GetDescendantNodes().Where(x => 
										x.NodeTypeAlias!="Option" && x.NodeTypeAlias!="Folder" && x.NodeTypeAlias!="CartGirlVertical" && x.NodeTypeAlias!="HTMLWidget" && 
										x.NodeTypeAlias!="IdealGolferOffer" && x.NodeTypeAlias!="RichTextWidget" && x.NodeTypeAlias!="TwitterFeed" && x.NodeTypeAlias!="VoteCartGirl" && 
										x.NodeTypeAlias!="HPCarouselLink" && x.NodeTypeAlias!="Issue" && x.NodeTypeAlias!="YearFolder" && x.NodeTypeAlias!="AGIssuesArea" && 
										x.NodeTypeAlias!="Widgets" && 
										(x.Name==searchString || 
										GetPropertyAsString(x.GetProperty("title")).Contains(searchString) || 
										GetPropertyAsString(x.GetProperty("bodyText")).Contains(searchString) || 
										GetPropertyAsString(x.GetProperty("introduction")).Contains(searchString)|| 
										GetPropertyAsString(x.GetProperty("articleType")).Contains(searchString) || 
										GetPropertyAsString(x.GetProperty("location")).Contains(searchString) ||
										GetPropertyAsString(x.GetProperty("tags")).Contains(searchString))
										);
									
									
	
}

	<script type="text/javascript">
		function SubmitSearchForm(){
		
		}
	</script>

	<div class="searchForm">
		 
	</div>

	<h2>
		@if(@foundNodes.Count() == 0){
				<span>@msgNoResults </span>
		}else{
			<span>@foundNodes.Count() @msgXResults</span>
		}
	</h2>
<div class="searchResults">
<ul>
	@foreach (var item in foundNodes)
	{
		<li>
		@if(@item.NodeTypeAlias == "umbTextpage" && @item.Parent.NodeTypeAlias == "IssueArticle"){
			<a href="@item.Parent.Url">@item.Parent.GetProperty("title").ToString()</a>
		}else{
			<a href="@item.Url">
			@if(GetPropertyAsString( @item.GetProperty("title") ) != ""){
				@item.GetProperty("title").ToString()
			}else{
				@item.Name
			}
			</a>
			
		}
		
		</li>
	}
    @foreach (var item in @Model.Textpages.Where("Visible"))
    {
    <li><a href="@item.Url">@item.Name</a></li>
}
</ul>
</div>
