﻿
/* default styles *****************************/

.defaultPage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 40px auto 0px auto;
    width: 330px;
}

.buttondefault
{
    height: 24px;
    width: 120px;
}

.buttondefaultleft
{
    height: 24px;
    margin-left: 40px;
    width: 120px;
}

ckbinline
{
    display: inline;
}

.divleft
{
    float: left;
}

.divright
{
    float: right;
}

.failurenotification
{
    color: Red;
    font-size: .8em;
}

.nobulletlist
{
    list-style-type: none;
    list-style-image: none;
}

.padbottom
{
    padding-bottom: 12px;
}

.padbottomtop
{
    padding-bottom: 12px;
    padding-top: 12px;
}

.padleft
{
    padding-left: 20px;
}

.padtop
{
    padding-bottom: 12px;
}

.paratext 
{
    font-size: .8em;
}

.paratextbold 
{
    font-weight: bold;
}

.paratextblue 
{
    color: #0000FF;
    font-weight: bold;
}

.subsuptext /* blue - default */
{
    color: #0000FF;
    font-size: .7em;
    font-weight: bold;
}

.subsuptextred  /* red - default */
{
    color: #FF0000;
    font-size: .7em;
    font-weight: bold;
}

.textentry 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 160px;
}

.textentryphone 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 90px;
}

.textentrysmall 
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 60px;
}

/* LogIn styles *****************************/

.loginButtonemail
{
    color: #0000FF;
    font-size: .9em;
    font-weight: bold;
}

/* Profile styles *****************************/
.profilePage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 20px auto 0px auto;
    width: 380px;
}

.profilepadbottom
{
    padding-bottom: 6px;
}

.profilecommand
{
    margin-left: 8%;
    padding-bottom: 12px;
}


/* Registrati0n styles *****************************/
.registerPagesuccess
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 40px auto 0px auto;
    text-align: center;
    width: 440px;
}

/* Subscribe styles *****************************/

.subscribePage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    margin: 40px auto 0px auto;
    text-align: center;
    width: 620px;
}

.subscribecommand
{
    padding-bottom: 12px;
    text-align: center;
}

.subscribediv
{
    padding-bottom: 12px;
    padding-left: 8px;
    text-align: left;
    height: 340px;
    width: 340px;
    
}

.subscribedivheight
{
    height: 340px;
}

.subscribedivleft
{
    float: left;
    margin-left: 12px;
    padding-right: 12px;
}

.subscribedivright
{
    position: relative;
    text-align: left;
}

.subscribehead
{
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.subscribetd
{
    font-size: .9em;
    padding-bottom: 6px;
    text-align: left;
}


.subscribeimage
{
    height: 320px;
    width: 320px;
    border: 3 solid black; 
}

/* Checkout styles *****************************/
.checkoutPage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: 1em;
    height: 650px;
    margin: 40px auto 0px auto;
    text-align: left;
    width: 680px;
}

.checkoutcommand
{
    padding: 12px;
    text-align: center;
}

.checkoutdivleft
{
    border: 2px solid #496077;
    float: left;
    height: 440px;
    margin-left: 12px;
    padding-right: 12px;
    width: 300px;
}

.checkoutlogreg
{
    color: #0000FF;
    font-size: .8em;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 6px;
    text-align: left;
}

.textentrycc  /* credit card*/
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
    width: 90px;
}

/* Checkout styles *****************************/
.purchasePage
{
    background-color: #b6b7bc;
    border: 4px solid #496077;
    font-size: .9em;
    height: 600px;
    margin: 16px auto 0px auto;
    text-align: left;
    width: 680px;
}

.purchasecommand
{
    padding: 15px;
    text-align: center;
}

.purchasedivdefault
{
    border: 2px solid black;
    margin: 6px auto 0px 2%;
    width: 96%;
}

.purchasedivpkgleft
{
    float: left;
    margin-left: 12px;
    padding-right: 12px;
}

.purchasedivpkgright
{
    position: relative;
    text-align: left;
}

.purchaseimage
{
    height: 110px;
    width: 110px;
}

.purchasetdleft
{
    margin-left: 2px;
    padding: 2px;
    text-align: left;
}

.purchasetdright
{
    margin-left: 2px;
    padding: 2px;
    text-align: right;
}

.purchasetdul
{
    border-bottom: 2px solid black;
    margin-left: 2px;
    padding: 2px;
    text-align: right;
}

.purchasetdwidth
{
    width: 18em;
}

.purchasetdwidthsmall
{
    width: 10em;
}
