<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server">
    <asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="styles/magazine.css" />
        <script type="text/javascript" src="scripts/cartgirl.js"></script>
          <!-- removed stylesheet and javascript links -->
      </asp:contentplaceholder>
       <asp:contentplaceholder id="cp_top" runat="server">
        <!-- removed umbracco header crap place for additional header content -->
       </asp:contentplaceholder>
        <asp:contentplaceholder id="cp_content" runat="server">
            <div class="content_middle">
				<div class="ad_left">
				<img src="images/thelakes_ad.png" width="160" height="600" />
				</div>
				<div class="ad_right">
				<img src="images/winstar_ad.png" width="160" height="600" />
				</div>
				<div class="left_content_middle">
					<div class="article">
						<h1>Cart Girl of the Month: September 2012</h1>
						<h2>Cart Girls</h2>
						<div class="main_image_scroll">
							<div id="cartMain" class="main_image">
								<img src="images/cg_otm_main.png" width="640" height="640" align="center" />
								<img src="images/cg_otm_main2.png" width="640" height="640" align="center" />
							</div>
							<div class="scroll">
								<div id="gPrev" class="left_scroll mini">
								<img src="images/left_scroll.png" width="9" height="40" align="center" />
								</div>
									<ul id="miniCart" class="scroll_options">
										<li class="mini"><a href="#"><img src="images/stephanie_1.png" width="50" height="50" align="center" /></a></li>
										<li class="mini"><a href="#"><img src="images/stephanie_2.png" width="50" height="50" align="center" /></a></li>
									</ul>
								<div id="gNext" class="right_scroll mini">
								<img src="images/right_scroll.png" width="9" height="40" align="center" />
								</div>
							</div>
						</div>
						<div class="clear"></div>
						<div class="green_line"></div>
						<div class="article_content">
							<h3>Stephanie Rashea Britt</h3>
							<h4>Stonebriar Country Club</h4>
							<h5>How long have you been a cart girl?</h5>
								<p>Four months</p>
							<h5>In 10 years you would like to be:</h5>
								<p>Still singing and writing music, but also be done with school and have my own salon called Rashea's that would offer hair, facials and massages.</p>
							<h5>The most interesting fact about yourself:</h5>
								<p>I can listen to a song and then play it by memory on the piano.</p>
							<h5>Favorite foods:</h5>
								<p>Grilled chicken breast,but at the moment I'm going through a meatloaf stage.</p>
							<h5>If you had more time, you would:</h5>
								<p>Paint and be outdoors.</p>
							<h5>The next risk you want to take is:</h5>
								<p>Skydiving.</p>
							<h5>Favorite music:</h5>
								<p>I love all types of music, but if I had to choose one it would be '80s rock.</p>
							<h5>Turn-ons:</h5>
								<p>A good attitude and someone who smiles a lot.</p>
							<h5>Turn-offs:</h5>
								<p>A bad attitude. No one likes a Debbie Downer.</p>
							<h5>Fantasy person to date:</h5>
								<p>Gerard Butler</p>
							<h5>The best way to impress you is:</h5>
								<p>I look to see how one treats others. I love a kind heart.</p>
							<h5>Interests:</h5>
								<p>My music singing and writing, painting, playing my piano, fishing and hanging out with my family and friends.</p>
							<h5>Biggest tip:</h5>
								<p>More than I expected!</p>
							<h5>College:</h5>
								<p>Paul Mitchell School</p>
							<h5>Worst pick-up line:</h5>
								<p>"Did an angel fall out of Heaven? Why of course!"</p>
						</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
						<div class="clear"></div>
						<div class="past_cart_girls">
							<div class="past_left">
								<a href="#"><img src="images/past_left_cg.png" width="100" height="100" /></a><br />
								&laquo; Stevie Landers
							</div>
							
								<a href="#">&#8226;&nbsp; See all our past Cart Girls &nbsp;&#8226;</a>
						
							<div class="past_right">
								<a href="#"><img src="images/past_right_cg.png" width="100" height="100" /></a><br />
								Brooke Martin &raquo;
							</div>
						</div>
						<div class="clear"></div>
						<div class="tags">Tags: CGM, Girls, Stonebriar</div>
						<div class="related_articles">Read All Related Articles</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="right_content_middle">
					<div class="blue_line"></div>
					<!-- start of past girl carousel -->
					<div class="right_past_cg">
						<a href="#">&#8226;&nbsp; See all our past Cart Girls &nbsp;&#8226;</a>
						<div id="pPrev" class="up_scroll">
								<img src="images/up_scroll.png" width="40" height="9" align="center" />
						</div>
						<div id="prevGirl">
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
							<div class="cg_teaser">
								<img src="images/bmartin_cg_teaser.png" width="96" height="96" align="left" />
								<h2>August 2012</h2>
								<h1>Brooke Martin</h1>
								<h3>Cover Story</h3>
								<a href="#"><span class="view_profile">View Profile</span></a>
							</div>
						</div>
						<div id="pNext" class="down_scroll">
								<img src="images/down_scroll.png" width="40" height="9" align="center" />
						</div>
						<a href="#">View All</a>
					</div>
					<!-- end of past girl carousel -->
					<div class="blue_line"></div>
					<div class="ideal_golfer">
						<a href="#"><img src="images/ideal_golfer.png" width="300" height="433" /></a>
					</div>
					<div class="blue_line"></div>
					<div class="ad">	
						<a href="#"><img src="images/teebox_ad.png" /></a>
					</div>
					<div id="twitter" class="twitter_feed">	
						<div id="twitter_t">Ideal Golfer</div>
							<div id="twitter_m">
								<div id="twitter_container">
									<ul id="twitter_update_list"></ul>
								</div>
							</div>
						<div id="twitter_b">
							<img src="images/small_twitter_share.png" />
							<a href="http://twitter.com/vinson_matthew" id="twitter-link">Join the conversation</a>
						</div>
					</div>
 				</div>
				<div class="clear"></div>
		</div>
        </asp:contentplaceholder>
         <asp:contentplaceholder id="cp_footer" runat="server"></asp:contentplaceholder>
    </asp:content>
			