<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server"> 
    <asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="styles/magazine.css" />
	    <link rel="stylesheet" type="text/css" href="styles/cg_otm.css" />
	    <link rel="stylesheet" type="text/css" href="styles/cg_vote.css" />
    </asp:contentplaceholder>
    <!--<asp:contentplaceholder id="cp_top" runat="server">
        removed umbracco header crap place for additional header content 
       </asp:contentplaceholder>-->
		<asp:contentplaceholder id="cp_content" runat="server">
            <div class="content_middle">
				<div class="ad_left">
				<img src="images/thelakes_ad.png" width="160" height="600" />
				</div>
				<div class="ad_right">
				<img src="images/winstar_ad.png" width="160" height="600" />
				</div>
				<div class="left_content_middle">
					<div class="article">
						<h1>Vote for Cart Girl of the Year</h1>
						<h2>Cart Girls</h2>
					</div>
					<div class="cg_vote_section">
						<div class="vote_tile">
							<img src="images/vote_sbritt.png" height="210" width="210" />
							<h1>Stephanie Rashea Britt</h1>
							<h2>Stonebriar Country Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_bmartin.png" height="210" width="210" />
							<h1>Brooke Martin</h1>
							<h2>Coyote Ridge Golf Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_sallen.png" height="210" width="210" />
							<h1>Sarah Allen</h1>
							<h2>Mansfield National</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_dbernal.png" height="210" width="210" />
							<h1>Devyn Bernal</h1>
							<h2>Tour 18 Golf Course</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_tmulkey.png" height="210" width="210" />
							<h1>Tara Mulkey</h1>
							<h2>Texas Star Golf Course</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_jlewis.png" height="210" width="210" />
							<h1>Jennifer Lewis</h1>
							<h2>Buffalo Creek Gold Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_ddawkins.png" height="210" width="210" />
							<h1>Dru Dawkins</h1>
							<h2>Lantana Golf Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_jfannin.png" height="210" width="210" />
							<h1>Jayme Fannin</h1>
							<h2>Diamond Oaks Country Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_kbillings.png" height="210" width="210" />
							<h1>Katelyn Billings</h1>
							<h2>Southern Oaks Golf Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_amartin.png" height="210" width="210" />
							<h1>Andrea Martin</h1>
							<h2>Stonebridge Ranch Country Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_kbyler.png" height="210" width="210" />
							<h1>Kristen Byler</h1>
							<h2>Stone River Golf Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
						<div class="vote_tile">
							<img src="images/vote_lferris.png" height="210" width="210" />
							<h1>Leah Ferris</h1>
							<h2>Riverside Golf Club</h2>
							<a href="#"><span class="view_profile">View Profile</span></a>
							<a href="#"><span class="vote">VOTE</span></a>
						</div>
					</div>
				</div>
				<div class="right_content_middle">
					<div class="ideal_golfer">
						<a href="#"><img src="images/ideal_golfer.png" width="300" height="433" /></a>
					</div>
					<div class="cg_vote_list">
					
					</div>
					<div class="ad">	
						<a href="#"><img src="images/teebox_ad.png" /></a>
					</div>
					<div id="twitter" class="twitter_feed">	
						<div id="twitter_t">Ideal Golfer</div>
							<div id="twitter_m">
								<div id="twitter_container">
									<ul id="twitter_update_list"></ul>
								</div>
							</div>
						<div id="twitter_b">
							<img src="images/small_twitter_share.png" />
							<a href="http://twitter.com/vinson_matthew" id="twitter-link">Join the conversation</a>
						</div>
					</div>
 				</div>
				<div class="clear"></div>
			</div>
        </asp:contentplaceholder>
        <asp:contentplaceholder id="cp_footer" runat="server"></asp:contentplaceholder>
</asp:content>