<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="ContentPlaceHolderDefault" runat="server"> 
	  <asp:contentplaceholder id="cp_head" runat="server">
         <script type="text/javascript" src="scripts/home.js"></script>
          <!-- removed stylesheet and javascript links -->
      </asp:contentplaceholder>
	<!--<asp:contentplaceholder id="cp_top" runat="server">
	</asp:contentplaceholder>-->
			<!-- moved header content to master page -->
    <asp:contentplaceholder id="cp_content" runat="server">
         <div id="images" class="main_image_scroll">
			<div id="imageScroll" class="main_image">
				<img src="images/main_image_3.png" width="1600" height="400" />
				<img src="images/caliberb.jpg" width="1600" height="400" />
				<img src="images/catb.jpg" width="1600" height="400" />
				<img src="images/slipb.jpg" width="1600" height="400" />
				<img src="images/bearb.jpg" width="1600" height="400" />
			</div> 
			<div class="scroll">
				<div id="prev" class="left_scroll thumb">
					<img src="images/left_scroll.png" width="13" height="60" />
				</div>
				<div >
					<ul id="thumbs" class="scroll_options">
						<li class="thumb"><a href="#"><span class="scroll_number">1</span><img src="images/passbook_scroll.png" width="80" height="80" align="center" />Get the Passbook</a></li>
						<li class="thumb"><a href="#"><span class="scroll_number">2</span><img src="images/girl_scroll.png" width="80" height="80" align="left" />Cart Girl of the<br /> Month: Stephanie<br /> Rashea Britt</a></li>
						<li class="thumb"><a href="#"><span class="scroll_number">4</span><img src="images/banana_scroll.png" width="80" height="80" align="left" />Lose the<br /> Bannana Ball</a></li>
						<li class="thumb"><a href="#"><span class="scroll_number">5</span><img src="images/goodfellas_scroll.png" width="80" height="80" align="left" />Goodfellas: <br /> The Celebrity<br /> Issue</a></li>
						<li class="thumb"><a href="#"><span class="scroll_number">6</span><img src="images/bear_scroll.gif" width="80" height="80" align="left" />Bears: <br /> The Bear<br /> Issue</a></li>
					</ul>
				</div>
				<div id="next" class="right_scroll thumb">
					<img src="images/right_scroll.png" width="13" height="60" />
				</div>
			</div>
		</div>
			<div class="content_middle">
				<div class="ad_left">
				<img src="images/thelakes_ad.png" width="160" height="600" />
				</div>
				<div class="ad_right">
				<img src="images/winstar_ad.png" width="160" height="600" />
				</div>
				<div class="green_line"></div>
				<div class="left_content_middle">
					<div class="content_teaser">
						<img src="images/goodfellas_content.png" width="260" height="200" align="left" />
						<h1>Goodfellas: The Celebrity Issue</h1>
						<h2>Cover Story</h2>
						<p>Right about six years ago, about the time when I officially joined the Cowboys. I played a little bit here and there, on and off. I didn’t play for two of those years. I didn’t play in college, and I went to the driving range when I was younger a little bit, but that was the extent of my golf playing before I joined the Cowboys.
							<a href="#"><span class="read_more">Read More</span></a>
						</p>
						<div class="tags">Tags: Golf, Celebrity, Miles Austin</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
					</div>
					<div class="content_teaser">
						<img src="images/raquel_content.png" width="260" height="200" align="left" />
						<h1>Raquel Welch</h1>
						<h2>Better than Caffine</h2>
						<p>Quintessential 60’s-70’s pin-up gal Raquel Welch turns 72 today. 36-22-36. Born Jo Raquel Tejada. Bolivian/Irish-American mix. One Million Years B.C., Kansas City Bomber, The Last of Sheila. Playboy named her the “Most Desired Woman” of the 70’s.
							<a href="#"><span class="read_more"> Read More</span></a>
						</p>
						<div class="tags">Tags: Girls, Pin-Up, Raquel Welch</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
					</div>
					<div class="ad_middle_content">
						<a href="#"><img src="images/passbook_ad.png" width="980" height="125" /></a>
					</div>
					<div class="content_teaser">
						<img src="images/raquel_content.png" width="260" height="200" align="left" />
						<h1>Lose the Banana Ball</h1>
						<h2>Instruction</h2>
						<p>Most of my ideas for instruction articles are different scenarios that occur in lessons. This month’s article is no different.</p>
						<p>Recently, I had a student who had a history of missing to the right. I’m being kind – he had a history of slicing to the right.
							<a href="#"><span class="read_more"> Read More</span></a>
						</p>
						<div class="tags">Tags: Golf, Swing, Banana Ball</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
					</div>
					<div class="content_teaser">
						<img src="images/raquel_content.png" width="260" height="200" align="left" />
						<h1>Mellow Out</h1>
						<h2>Scene and Be Seen</h2>
						<p>Pizza!</p>
						<p>Is there any other five-letter word that invokes as many smiles across the generations? From a 4-year-old establishing their independence at meal time to a college student on their own ...
							<a href="#"><span class="read_more"> Read More</span></a>
						</p>
						<div class="tags">Tags: Food, Pizza, Mellow Mushroom</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
					</div>
					<div class="content_teaser">
						<img src="images/raquel_content.png" width="260" height="200" align="left" />
						<h1>Diesel Power</h1>
						<h2>Drive Time</h2>
						<p>I remember the days when diesel cars were driven only by quirky neighbors. Black soot billowed from the rear (God forbid you were stuck behind one in traffic) and the engine sounded like a gasping sewing machine. Back fenders were literally painted in charcoal dust and it looked like the last car any self-respecting driver would buy.
							<a href="#"><span class="read_more"> Read More</span></a>
						</p>
						<div class="tags">Tags: Cars, Diesel, BMW</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
					</div>
					<div class="most_viewed">
						<h1>Most Viewed Articles</h1>
						<ul class="top_five">
							<li><a href="#"><img src="images/girl_most_viewed.png" width="108" height="120" /><br />Stephanie Rashea Britt</a></li>
							<li><a href="#"><img src="images/raquel_most_viewed.png" width="108" height="120" /><br />Raquel Welch</a></li>
							<li><a href="#"><img src="images/banana_most_viewed.png" width="108" height="120" /><br />Lose the Banana Ball</a></li>
							<li><a href="#"><img src="images/thrill_most_viewed.png" width="108" height="120" /><br />A Thrill Ride</a></li>
							<li><a href="#"><img src="images/pizza_most_viewed.png" width="108" height="120" /><br />Mellow Out!</a></li>
						</ul>
					</div>
				</div>
				<div class="right_content_middle">
					<div class="ideal_golfer">
						<a href="#"><img src="images/ideal_golfer.png" width="300" height="433" /></a>
					</div>
					<div class="blue_line"></div>
					<div class="vote_sidebar">
						<div class="vote_header">
							<img src="images/vote_sidebar_header.png" width="273" height="14" align="center" />
						</div>
						<div class="main_vote">
							<div id="vPrev" class="left_scroll">
								<img src="images/left_scroll.png" width="10" height="45" />
							</div>
							<div id="voteGirl">
								<a href="#"><img src="images/vote_sidebar_cg1_main.png" width="292" height="251" /></a> 
								<a href="#"><img src="images/girl2.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl3.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl4.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl5.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl6.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl7.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl8.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl9.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl10.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl11.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl12.jpg" width="292" height="251" /></a>
							</div>
							<div id="vNext" class="right_scroll">
								<img src="images/right_scroll.png" width="10" height="45" />
							</div>
						</div>
						<div id="cartVote" class="vote_options">
							<ul>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb_selected.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
							</ul>
							<div class="clear"></div>
							<ul>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb.png" width="44" height="44" /></a></li>
							</ul> 		
						</div>
						<div class="clear"></div>
						<div class="blue_line"></div>
						<div class="vote_now">
							<a href="#"><img src="images/vote_now.png" /></a>
						</div>
					</div>
					<div class="ad">	
						<a href="#"><img src="images/teebox_ad.png" /></a>
					</div>
					<div id="twitter" class="twitter_feed">	
						<div id="twitter_t">Ideal Golfer</div>
							<div id="twitter_m">
								<div id="twitter_container">
									<ul id="twitter_update_list"></ul>
								</div>
							</div>
						<div id="twitter_b">
							<img src="images/small_twitter_share.png" />
							<a href="http://twitter.com/vinson_matthew" id="twitter-link">Join the conversation</a>
						</div>
					</div>
 				</div>
				<div class="clear"></div>
			</div>       
     </asp:contentplaceholder>
     <asp:contentplaceholder id="cp_footer" runat="server"></asp:contentplaceholder>
<!-- removed scripts references for twitter feed -->
</asp:content>