<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server">
    <asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="styles/magazine.css" />
        <script type="text/javascript" src="scripts/magazine.js"></script>
          <!-- removed stylesheet and javascript links -->
      </asp:contentplaceholder>
	<!--<asp:contentplaceholder id="cp_top" runat="server">
        removed umbracco header crap place for additional header content 
       </asp:contentplaceholder>-->
        <asp:contentplaceholder id="cp_content" runat="server">
            <div class="content_middle">
				<div class="ad_left">
				<img src="images/thelakes_ad.png" width="160" height="600" />
				</div>
				<div class="ad_right">
				<img src="images/winstar_ad.png" width="160" height="600" />
				</div>
				<div class="left_content_middle">
					<div class="article">
						<h1>Goodfellas: The Celebrity Issue</h1>
						<h2>Cover Story</h2>
						<img src="images/goodfellas_article.png" width="640" height="408" align="center" />
						<div class="article_content">
							<h3>Miles Austin</h3>
							<h4>Dallas Cowboys Wide Reciever</h4>
							<h5>When did you start playing golf?</h5>
								<p>Right about six years ago, about the time when I officially joined the Cowboys. I played a little bit here and there, on and off. I didn't play for two of those years. I didn't play in college, and I went to the driving range when I was younger a little bit, but that was the extent of my golf playing before I joined the Cowboys.</p>
							<h5>What does golf do for you?</h5>
								<p>It's a relaxing game, and it's quite challenging. I really enjoy playing the game, getting outside and playing on such nice golf courses.</p>
							<h5>Have you played with Tony Romo, and if so, how many strokes does he give you?</h5>
								<p>I can't remember how many he gives me because we play with a bunch of people. But if we were to play head-to-head, he'd have to give me one per hole.</p>
						</div>
						<div class="article_share">
							<a href=""><img src="images/small_fb_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_twitter_share.png" width="16" height="16" /></a>
							<a href=""><img src="images/small_email_share.png" width="16" height="16" /></a>
						</div>
						<div class="clear"></div>
						<div class="subscribe">
							<h1>Want to read more?</h1>
							<div class="subscribe_action">
								<span class="subscribe_button">
								Subscribe Now
								</span><br /><br />
							Already a Subscriber? <a href="#">Log in</a>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					
					<div class="most_viewed">
						<h1>Most Viewed Articles</h1>
						<ul class="top_five">
							<li><a href="#"><img src="images/girl_most_viewed.png" width="108" height="120" /><br />Stephanie Rashea Britt</a></li>
							<li><a href="#"><img src="images/raquel_most_viewed.png" width="108" height="120" /><br />Raquel Welch</a></li>
							<li><a href="#"><img src="images/banana_most_viewed.png" width="108" height="120" /><br />Lose the Banana Ball</a></li>
							<li><a href="#"><img src="images/thrill_most_viewed.png" width="108" height="120" /><br />A Thrill Ride</a></li>
							<li><a href="#"><img src="images/pizza_most_viewed.png" width="108" height="120" /><br />Mellow Out!</a></li>
						</ul>
					</div>
				</div>
				<div class="right_content_middle">
					<div class="ideal_golfer">
						<a href="#"><img src="images/ideal_golfer.png" width="300" height="433" /></a>
					</div>
					<div class="blue_line"></div>
					<div class="vote_sidebar">
						<div class="vote_header">
							<img src="images/vote_sidebar_header.png" width="273" height="14" align="center" />
						</div>
						<div class="main_vote">
							<div id="vPrev" class="left_scroll">
								<img src="images/left_scroll.png" width="10" height="45" />
							</div>
							<div id="voteGirl">
								<a href="#"><img src="images/vote_sidebar_cg1_main.png" width="292" height="251" /></a> 
								<a href="#"><img src="images/girl2.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl3.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl4.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl5.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl6.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl7.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl8.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl9.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl10.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl11.jpg" width="292" height="251" /></a>
								<a href="#"><img src="images/girl12.jpg" width="292" height="251" /></a>
							</div>
							<div id="vNext" class="right_scroll">
								<img src="images/right_scroll.png" width="10" height="45" />
							</div>
						</div>
						<div id="cartVote" class="vote_options">
							<ul>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb_selected.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
							</ul>
							<div class="clear"></div>
							<ul>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg2_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg3_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg4_thumb.png" width="44" height="44" /></a></li>
								<li class="vGirl"><a href="#"><img src="images/vote_sidebar_cg1_thumb.png" width="44" height="44" /></a></li>
							</ul> 		
						</div>
						<div class="clear"></div>
						<div class="blue_line"></div>
						<div class="vote_now">
							<a href="cg_voting.html"><img src="images/vote_now.png" /></a>
						</div>
					</div>
					<div class="ad">	
						<a href="#"><img src="images/teebox_ad.png" /></a>
					</div>
					<div id="twitter" class="twitter_feed">	
						<div id="twitter_t">Ideal Golfer</div>
							<div id="twitter_m">
								<div id="twitter_container">
									<ul id="twitter_update_list"></ul>
								</div>
							</div>
						<div id="twitter_b">
							<img src="images/small_twitter_share.png" />
							<a href="http://twitter.com/vinson_matthew" id="twitter-link">Join the conversation</a>
						</div>
					</div>
 				</div>
				<div class="clear"></div>
			</div>
        </asp:contentplaceholder>
        <asp:contentplaceholder id="cp_footer" runat="server"></asp:contentplaceholder>
    </asp:content>