<p>
To order by phone, please call 972-550-9000 anytime between 9:00am - 5:00pm Monday through Friday. To subscribe (new or renew) online, click on the "Subscribe Now" button at the top or bottom of this page. 	
</p>
<p> </p>
<p><a href="https://subscriptions.myavidgolfer.com?iframe" target="_blank" class="fancySubscribe"><img src="http://50.56.166.245/media/3306/subscrib_now.gif" alt="subscrib_now.gif" width="142" height="30" rel="142,30" /></a></p>
<p> </p>

<p style="margin-bottom: 10px;" class="subscribe_headline">WITH A 2013 Hill Country AVIDGOLFER PASSBOOK YOU GET:</p>
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tbody>
<tr>
<td width="67%" valign="top">
<ul>
	<li>1 year Subscription to <strong>AVIDGOLFER Hill Country</strong>Quarterly Magazine</li>
	<li>Pair of NYX Golf Sunglasses <strong>($39.95 Value)</strong></li>
	<li>FREE <strong>iDealGolfer Hat</strong> (while supplies last)</li>
	<li>Free Golf Simulator Time at <strong>The Range Restaurant</strong></li>
</ul>
<img src="images/hill_goodies.png" alt="Goodies"  /></td>
<td rowspan="2" width="33%" align="right" valign="top" style="padding: 10px 0 10px 10px; text-align: center; color: #c00;"><img style="padding-bottom: 10px;" src="images/price-5995.png" alt="59.95"  /></td>
</tr>
</tbody>
</table>
<p> </p>
<p><a href="https://subscriptions.myavidgolfer.com" target="_blank" class="fancySubscribe"><img src="http://50.56.166.245/media/3306/subscrib_now.gif" alt="subscrib_now.gif" width="142" height="30" rel="142,30" /></a></p>
<div align="center">
<p><span style="font-size:24px;color:#006600;"><strong>SAVE MONEY with the BRAND NEW Hill Country AVIDGOLFER Passbook!</strong></span></p>
	<p><strong><strong>18 FREE ROUNDS OF GOLF IN TOTAL. FROM SOME OF THE TOP HILL COUNTRY COURSES.</strong><br /> </strong></p>
<p><strong>List of courses include:</strong></p>
<p> </p>
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tbody>
<tr>
<td width="50%" style="padding-top: 15px;"><br />
<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
<tbody>
<tr>
<td colspan="2" align="left" valign="top" style="padding: 10px 0 10px 0; text-align: center;"><strong>List of courses include:</strong></td>
</tr>
<tr>
<td align="center" valign="top">
<p align="center">
	Avery Ranch Golf Club <br />
	Vaaler Golf Club <br />
	River Place Country Club <br />
	Woodlake Golf Club <br />
	Lago Vista Golf Course <br />
	Northcliff Golf Club <br />
	The Hawk at Rebecca Creek <br />
	Highland Lakes Golf Course <br />
	The Club at Concan <br />
	</p>
</td>
<td align="center" valign="top">
<p align="center">
	Teravista Golf Club <br />
	Canyon Springs Golf Club <br />
	Golf Club of Texas <br />
	The Club at Colony Creek <br />
	Point Venture Golf Course <br />
	Hidden Falls Golf Course <br />
	Legends Golf Course <br />
	Casa Blanca Golf Course <br />
	Windcrest Golf Club <br />
</p>

</td>
</tr>
<tr>
<td colspan="2" align="center">
<table border="0" cellpadding="5" style="margin: 10px 0px 0px; width: 100%;">
<tbody>
<tr>
<td>
<div class="img"><img src="images/hill_teravistagolfclub.png" alt="Tera Vista Golf Club"  /><br />TeraVista Golf Club</div>
</td>
<td>
<div class="img"><img src="images/hill_theclubatconcan.png" alt="The Club at Concan"  /><br />The Club at Concan</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="article" colspan="2" align="center">
<p><strong>All together, that is 18 rounds of golf for JUST a cart fee!<br /> </strong></p>

<p style="text-align: left;"><br /> 
Restrictions vary. Cart fee required on all rounds. Rounds of golf valid Monday through Thursday, except Hidden Falls Golf Course, which also offers weekends.	
	</p>
</td>
</tr>
<tr>
<td id="article" colspan="2" align="center">
<p><strong><span style="color: #c00;">All for just $59.95</span> <br /> 
	<span style="color: #000;">More Golf! More Goodies! One Low Price!</span></strong>
</p>
</td>
</tr>
<tr>
<td width="50%" style="padding-top: 15px;"><a href="https://subscriptions.myavidgolfer.com" target="_blank" class="fancySubscribe"><img src="http://50.56.166.245/media/3306/subscrib_now.gif" alt="subscrib_now.gif" width="142" height="30" rel="142,30" /></a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p> </p>
</div>