.article_pagination {
	margin-top: 20px;
}
.article_pagination .previous_left {
	float: left;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #ccc;
	font-weight: normal;
}
.article_pagination .previous_left a {
	float: left;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
} 
.article_pagination .pagination {
	float: left;
	padding: 0 0 0 150px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
}
.article_pagination .pagination a {
	float: left;
	padding: 0 0 0 20px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
	
}

.article_pagination .next_right {
	float: right;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;	
}
.article_pagination .next_right a {
	float: right;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;	
}

.article_pagination .disabled_link 
{
    color: #ccc;
}

.tags {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: left;
	font-weight: normal;
}
.related_articles {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: right;
	font-weight: normal;
}

.related_articles a 
{
   color: #94aa39;  
}

.tags a 
{
     color: #94aa39;
}