.header {
    background: url("../images/cg_header_logo.png") no-repeat scroll left center hsl(0, 0%, 100%);
    border-bottom: 4px solid #276557;
}
.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.header .menu .cart_girls 
{
    background: #276557; 
}

.header .menu .cart_girls a
{
    color: #fff;
}

.footer_logo 
{
    height: 50px;
    width: 84px;
    display: block;
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
}
.content_middle {
    border-bottom: 4px solid #276557;
    padding-top: 30px;
}
.article .main_image_scroll .scroll {
	width: 640px;
	height: 60px;
}
.article .main_image_scroll .scroll_options li{
	border-left: #dbdddf solid 2px;
	width: auto;
	height: 50px;
    padding-left: 10px;

}
.article .main_image_scroll .scroll .scroll_options  img {
    margin-top: 0;
}
.article .main_image_scroll .scroll ul {
    margin: 5px 0 0;
}
.article .main_image_scroll .scroll .left_scroll img {

	margin: 0;
}
.article .main_image_scroll .scroll .right_scroll img {

	margin: 0;
}

.left_content_middle .article .article_content {
    margin-top: 0;
}
.past_cart_girls {
    text-align: center;
	padding-top: 135px;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 19px;
	color: #444;
	font-weight: normal;
}
.past_cart_girls a {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 19px;
	color: #444;
	font-weight: normal;
}
.past_cart_girls .past_left {
	float: left;
	margin-top: -120px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189ac0;
	font-weight: normal;
	
}
.past_left img {
    padding: 10px;
}
.past_cart_girls .all_past {
	padding-top: 50px;
}
.past_cart_girls .past_right {
	float: right;
	margin-top: -120px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189ac0;
	font-weight: normal;	
}
.past_right img {
    padding: 10px;
}

.tags {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: left;
	font-weight: normal;
}
.related_articles {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: right;
	font-weight: normal;
}

.related_articles a 
{
   color: #94aa39;
}

.tags a 
{
     color: #94aa39;
}

.content_middle .right_content_middle .blue_line {
    margin: 0 0 10px 0;
}
.content_middle .right_content_middle .right_past_cg {
	text-align: center;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 19px;
	color: #444;
	font-weight: normal;
}
.content_middle .right_content_middle .right_past_cg .up_scroll img {
    margin: 10px 0 0;
}
.content_middle .right_content_middle .right_past_cg .down_scroll img {
    margin: 10px 0 20px 0;
}
.content_middle .right_content_middle .right_past_cg a {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 19px;
	color: #444;
	font-weight: normal;
}	
.content_middle  .right_content_middle .right_past_cg .cg_teaser {
	margin-bottom: 25px;
	border-bottom: #dbdddf solid 3px;
	height: 96px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	text-align: left;
	margin: 20px 0 0 0;
}
.content_middle  .right_content_middle .right_past_cg  .cg_teaser  img {
	padding-right: 10px;
}
.content_middle  .right_content_middle .right_past_cg .cg_teaser  h1 {
	font-family: 'quicksand_boldregular';
	font-size: 20px;
	color: #444;
	margin: 0;
	font-weight: normal;
}
/* removed cg_teaser h3 */
.content_middle  .right_content_middle .right_past_cg  {
	font-size: 12px;
	color: #269fc4;
	margin: 0 0 10px;
	font-weight: normal;
}
.content_middle  .right_content_middle .right_past_cg  .cg_teaser  h2 {
	font-size: 14px;
	color: #92aa39;
	margin: 0;
}
.content_middle  .right_content_middle .right_past_cg  .cg_teaser .view_profile {
	font-size: 12px;
	color: #003825;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

/* past cart girl vertical carousel style */
.cg_teaser img 
{
   padding-bottom: 5px;
}

.cg_teaser h3 
{
    font-size: 14px;
	color: #269fc4;
	margin: 0 0 10px;
	font-weight: normal;
}

.cg_teaser h1 
{
    height: 25px;
    overflow: hidden;
}