.cg_vote_section {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-weight: normal;
	padding-left: 20px;
}
.cg_vote_section .vote_tile {
	float:left;
	width: 200px;
	border: 4px solid #eee;
	margin: 0 5px 30px 0;
	overflow: hidden;
}
.cg_vote_section .vote_tile  h1 {
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #444;
	font-weight: normal;
	margin: 5px 0 0 5px;
}
.cg_vote_section .vote_tile  h2 {
	font-size: 12px;
	color: #269fc4;
	font-weight: normal;
	margin: 0 0 15px 5px;
}
.cg_vote_section .vote_tile .view_profile {
	font-family: 'quicksand_bold_obliqueregular';
	color: #003825;
	font-size: 12px;
	float: left;
	margin: 10px 5px;
}
.cg_vote_section .vote_tile .vote {
	background: #1899bf;
	font-family: 'quicksand_boldregular';
	padding: 5px 5px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	float: right;
	margin: 0 5px;
	border: 2px solid #eee;
}
	