﻿.header {
    background: url("../images/cg_header_logo.png") no-repeat scroll left center hsl(0, 0%, 100%);
    border-bottom: 4px solid #95aa39;
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.header .menu .courses 
{
    background: #95aa39;
    
}

.header .menu .courses a 
{
    color: #fff;
}

.footer_logo 
{
    height: 50px;
    width: 84px;
    display: block;
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
}

.content_middle {
    border-bottom: 4px solid #95aa39;
    padding-top: 30px;
}