body {
	background: url("../images/main_bg.png") repeat transparent;
	width: 1600px;
	margin: 0;
	padding: 0;
}	
@font-face {
    font-family: 'franchiseregular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#franchiseregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksand_boldregular';
    src: url('fonts/quicksand_bold-webfont.eot');
    src: url('fonts/quicksand_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold-webfont.woff') format('woff'),
         url('fonts/quicksand_bold-webfont.ttf') format('truetype'),
         url('fonts/quicksand_bold-webfont.svg#quicksand_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'quicksand_bold_obliqueregular';
    src: url('fonts/quicksand_bold_oblique-webfont.eot');
    src: url('fonts/quicksand_bold_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold_oblique-webfont.woff') format('woff'),
         url('fonts/quicksand_bold_oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand_bold_oblique-webfont.svg#quicksand_bold_obliqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksand_book_obliqueregular';
    src: url('fonts/quicksand_book_oblique-webfont.eot');
    src: url('fonts/quicksand_book_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book_oblique-webfont.woff') format('woff'),
         url('fonts/quicksand_book_oblique-webfont.ttf') format('truetype'),
         url('fonts/quicksand_book_oblique-webfont.svg#quicksand_book_obliqueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.clear {
	clear: both;
}
a, a:link, a:visited {
	text-decoration: none;
}
img {
	border: none;
}
.container {
	clear: both;
  margin: 0 auto;
}
.header {
	margin: 0 auto;
	background: url("../images/header_logo.png") no-repeat left #fff;
	width: 978px;
	height: 120px;
	padding: 0;
	border-bottom: 4px solid hsl(194, 78%, 42%);
}
.logoHome 
{
    float: left;
    width: 160px;
}

.login_search  {
	font-size: 12px;
	padding: 10px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
.login_search .login {
	border-right: 1px solid #c3c3c3;
	float: right;
	margin: 0 5px 0 0;
	padding-right: 5px;
	color: #bababa;
}
.login_search  {
	float: right;
	color: #dadddf;
	padding-right: 5px;
}

.login_search .search {
	float: right;
	
}
.header .menu {
	clear: both;
	font-family: 'franchiseregular';
	font-size: 20px;
	text-align: center;
}

.header ul {
    float: left;
    list-style-type: none;
    margin: -90px 0 0 174px;
    padding: 39px 0 0 0;
    width: 804px;
	
}
.header .menu li {
	float:left;
	text-decoration:none;
	color: #444;
	background: url("../images/header_menu_bg.png") repeat left;
	padding: 7px 10px 3px ;
	height: 28px;
	width: 114px; 
	position: relative;
} 

.header .menu li.magazine 
{
    padding-top: 7px;
}

.header .menu .subscribe {
	border-top: 8px solid #2d7b82;
}
.header .menu .cart_girls{
	border-top: 8px solid #276557;
}
.header .menu .blog{
	border-top: 8px solid #5a9537;
}
.header .menu .courses {
	border-top: 8px solid #95aa39;
}
.header .menu .instructions{
	border-top: 8px solid #d9ad29;
}
.header .menu .magazine {
	border-top: 8px solid #c79223;
}
.header .menu a {
	text-decoration:none;
	color: #444;
} 

/* hover effects for the header menu */

.header .menu li.subscribe:hover
{
    background: #2d7b82;
    color: #fff;
}

.header .menu li.subscribe:hover a 
{
    color: #fff;
}

.header .menu li.magazine:hover 
{
    background: #c79223;
}

.header .menu li.magazine:hover a 
{
    color: #fff;
}
.header .menu li.instructions:hover 
{
    background: #d9ad29;
}

.header .menu li.instructions:hover a 
{
    color: #fff;
}

.header .menu li.courses:hover 
{
     background: #95aa39;
}

.header .menu li.courses:hover a 
{
    color: #fff;
}

.header .menu li.cart_girls:hover 
{
    background: #276557; 
}

.header .menu li.cart_girls:hover a 
{
    color: #fff;
}

.header .menu li.blog:hover 
{
   background: #5a9537; 
}

.header .menu li.blog:hover a 
{
   color: #fff; 
}

.main_image_scroll .scroll {
	width: 980px;
	height: 90px;
	margin: 0 auto;
	background: #eee;
	clear: both;
	font-size: 12px;
	text-align: left;
	font-family: 'quicksand_boldregular';
}
.main_image_scroll .scroll .left_scroll {
	float: left;
	padding:10px;
}
.main_image_scroll .scroll .right_scroll {
	float: right;
	padding:10px;
}
.main_image_scroll .scroll ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main_image_scroll .scroll li {
	float:left;
	text-decoration: none;
	width: 220px;
	color: #444
}
.main_image_scroll .scroll a {
	text-decoration: none;
	color: #444;
	padding-top: 10px;
}
.main_image_scroll .scroll .scroll_options img {
	margin-top: 5px;
	padding-right: 10px;
	float: left;
}
.main_image_scroll .scroll .scroll_number {
	font-family: 'franchiseregular';
	font-size: 36px;
	border-right: #dbdddf solid 2px;
	margin: 5px 10px;
    padding: 18px 5px;
	color: #189ac0;
	float: left;
}
.ad_left {
	float: left;
}
.ad_left  img {
	margin: -78px 0 0 -176px;
}
.ad_right img {
    margin: -79px -181px 0 18px;
}
.ad_right {
	float: right;	
}
.content_middle {
	background-color: #fff;
	width: 980px;
	margin: 0 auto;
	padding-top: 3px;
	clear: both;
	border-bottom: #189ac0 4px solid;
	padding-bottom: 30px;
}
.content_middle .green_line {
	background:#95aa39;
	height: 3px;
	margin-bottom: 23px;
}
.content_middle .left_content_middle {
	float: left;
	width: 660px;
}
.content_middle .left_content_middle .content_teaser{
	margin-bottom: 25px;
	border-bottom: #dbdddf solid 3px;
	height: 200px;
}
.content_middle .left_content_middle .content_teaser img {
	padding-right: 20px;
}
.content_middle .left_content_middle .content_teaser h1 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 24px;
	color: #444;
	margin: 0 0 5px 0;
	font-weight: normal;
}
.content_middle .left_content_middle .content_teaser h2 {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 12px;
	color: #189ac0;
	margin-top: 0;
	font-weight: normal;
}
.content_middle .left_content_middle .content_teaser p {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 10px 0 12px;
}
.content_middle .left_content_middle .content_teaser .read_more{
	font-weight: bold;
	font-style: italic;
	color: #003825;
	text-decoration: none;
}
.content_middle .left_content_middle .content_teaser .read_more a{ 
	color: #003825;
}
.content_middle .left_content_middle .content_teaser .tags {
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #189ac0;
	vertical-align: bottom;
	float: left;
}

.content_middle .left_content_middle .content_teaser .tags a {
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #189ac0;
	vertical-align: bottom;
}

.content_middle .left_content_middle .content_teaser .article_share {
	float: right;
	margin: 0;
	padding: 0;
}
.content_middle .left_content_middle .content_teaser .article_share img {
	margin: 0;
	padding: 2px;
}
.content_middle .left_content_middle .ad_middle_content {
	margin-bottom: 25px;
}
.content_middle .left_content_middle .most_viewed {
	border-top: #189ac0 4px solid;
	border-bottom: #189ac0 4px solid;
	height: 250px;
	padding: 0 5px;
}
.content_middle .left_content_middle .most_viewed h1{
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 30px;
	color: #444;
	margin: 10px;
	font-weight: normal;
}
.content_middle .left_content_middle .most_viewed ul {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.content_middle .left_content_middle .most_viewed li {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 5px 10px;
	height: 110px;
	width: 108px;
	font-size: 12px;
	text-align: left;
	font-family: 'quicksand_boldregular';
	color: #444;
}
.content_middle .left_content_middle .most_viewed  a{
	color: #444;
}
.content_middle .left_content_middle .most_viewed .top_five img {
    padding-bottom: 10px;
}
.content_middle .right_content_middle {
	float: right;
} 
.content_middle .right_content_middle .vote_sidebar {
	border: #189ac0 4px solid;
}
.content_middle .right_content_middle .blue_line {
	background: #189ac0;
	height: 4px;
	margin-bottom: 2px;
	margin-top: 172px;
}
.content_middle .right_content_middle .vote_sidebar .vote_header {
	background: #189ac0;
	padding: 5px;
	
}
.content_middle .right_content_middle .vote_sidebar .main_vote {
	position: relative;
}

.content_middle .right_content_middle .vote_sidebar .main_vote .left_scroll img {
	z-index: 5;
	position: absolute;
	margin: 105px 0 0 6px;
}
.content_middle .right_content_middle .vote_sidebar .main_vote .right_scroll img {
	z-index: 5;
	position: absolute;
	margin: -147px 0 0 278px;
}
.content_middle .right_content_middle .vote_sidebar .vote_options ul {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 5px 6px;
}
.content_middle .right_content_middle .vote_sidebar .vote_options li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0 3px 0 0;
  height: 44px;
}
.content_middle .right_content_middle .vote_sidebar  .blue_line {
	margin: 0 5px;
}
.content_middle .right_content_middle .ad {
	margin: 30px 0;
}
.content_middle .right_content_middle .twitter_feed {

}
.footer {
	width: 980px;
	margin: 0 auto;
	background: #eee;
	margin-top: 2px;
}
.footer .footer_logo {
	float: left;
	padding: 20px;
}

#fHome 
{
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
    display: block;
    border:1px solid #CCC;
    height: 50px;
    width: 84px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.footer .footer_links ul {
	float: left;
	color: #444;
	list-style-type: none;
	text-decoration: none;
	font-family: 'franchiseregular';
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding-top: 15px;
}
.footer .footer_links li {
	text-decoration: none;
	color: #444;
	padding: 0 15px 5px 0;
}
.footer .footer_links a {
	color: #444;
}
.footer .copyright {
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	color: hsl(0, 0%, 40%);
    padding-right: 20px;
    padding-top: 188px;
    text-align: right;
	font-size: 12px;
	position: relative;
}
.footer .footer_share {
	float: right;
	padding: 10px;
}	
.footer .footer_share img {
	margin: 5px;
}

/* added style for vote for cart girl carousel */
#voteGirl a 
{
	display: block;
	float: left;
}

/* added styles for the magazine drop down */
#magDropdown {
	background-color: #FFF;
	border: 4px solid hsl(210, 6%, 87%);
    left: -216px;
    text-align: left;
    width: 342px;
	padding: 0;
	margin: 0;
	top: 38px;
}
#magDropdown h3 {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 20px;
	margin: 10px 0 5px 0;
	line-height: 20px;
}
#magDropdown li {
	width: auto;
	height: auto;
	background: none #FFF;
	padding: 0;
}
#mag_col1 {
	width: 50%;
	float: left;
	padding-left: 8px;
}
#magDropdown a {
	font-family: 'quicksand_boldregular';
	font-size: 14px;
	color: #189ac0;
	font-weight: 500;
	margin: 3px 0;
	font-weight: normal;
}	
#mag_col2 {
	width:45%;
	float: right;
	margin: 0 0 0 5px;
}
#magLogin {
	clear: both;
	margin-left: 10px;
	padding-left: 5px;
}
#magLogin h3 {
	font-family: 'quicksand_boldregular';
	font-size: 18px;
	color: #c79223;
	font-weight: normal;
}
.grey_line  {
	background: #dbdddf;
	height: 4px;
	margin: 10px 5px;
}
#magLogin .lost_user_info a{
	font-size: 10px;
	color: #013825;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
#magLogin .lost_user_info a:hover{
	font-size: 10px;
	color: #013825;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
/* added styles for the twitter feed */
#twitter {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 300px;
border: 1px solid #27a1c4;
font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
#twitter_t {
height: 30px;
background: #27a1c4;
color: #fff;
font-size:18px;
padding-top: 5px;
padding-left: 10px;
font-weight: bold;
}
#twitter_m {
width: 270px;
padding: 0;
background:#fff;
}
#twitter_container {
min-height:45px;
height:auto !important;
height:40px;
padding-bottom:5px;
padding-top:5px;
}
#twitter_update_list {
width: 300px;
padding: 0;
text-wrap: normal; 
font-family: Georgia;
font-size: 12px;
font-style: normal;
color: #000;
line-height: 16px;
margin: 0;

}
#twitter_update_list li {
width: 270px;
list-style-position: inside;
list-style-image: url('../images/tweet3.png');
padding: 10px;
border-bottom: dotted 1px #ccc;
}
#twitter_update_list li a {
color: #27a1c4;
text-decoration: none;
}
#twitter_update_list li a:hover {
color: #31353d;
}
#twitter_b {
width: 300px;
height: 29px;
background: #27a1c4; /* url(yourimagehere) */
font-size: 14px;
}

#twitter_b img {
	padding: 5px;
	float: left;
}

#twitter_b a {
	color: #fff;
	float: right;
	text-align: right;
	padding: 5px;
}

/* styles added for the drop down magazine log in and subscribe buttons and textboxes */
.subscribe_menu 
{
    background: #1899bf;
	font-family: 'quicksand_boldregular';
	padding: 5px 5px;
	color: #fff;
	font-size: 16px;
	text-align: center; 
}

.login_menu 
{
    background: #c79223;
	font-family: 'quicksand_boldregular';
	margin-right: 100px;
	padding: 5px 5px;
	color: #fff;
	font-size: 16px;
	text-align: center; 
}

.login_text 
{
  width: 200px;
  margin-bottom: 5px;  
}

/* style to make drop down menu function */
.pick_city 
{
    float: right;
	color: #444;
	padding: 0px;
	margin: 0px;
}

.pick_city ul
{
    padding: 0px;
    margin: 0px;
    width: 100px;
    float: right;
}

.pick_city li 
{
    padding: 0;
    width: 100px;
}

.pick_city a 
{
  color: #444;
}

/* styles for the teebox audio page */
.audio_links ul 
{
    float: left;
	color: #444;
	list-style-type: none;
	text-decoration: none;
	font-family: 'franchiseregular';
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding-top: 15px;
}

/* Styles for the search popup modal */
#modalSearch
{
  display: none;
  position: fixed;
  padding: 0px 5px 5px 5px;
  top: 5%;
  left: 58.5%;
  background-color: #fff;
  width: 350px;
  height: 50px;
}

#modalSearch .xClose 
{
    float: right;
    top: 0px;
    padding: 0px;
    margin: 0px;
    color: hsl(210, 6%, 87%);
}

#modalSearch .searchContent 
{
    clear: right;
    padding: 0px;
    margin: 0px;
}

/* styles for the passbook popup modal */
#modalPassbook
{
  display: none;
  position: fixed;
  padding: 5px;
  top: 87%;
  left: 0%;
  background-color: #fff;
  border: 4px solid hsl(210, 6%, 87%);
  color: #444;
  font-size: 16px;
  width: 400px;
  height: 100px;
  padding: 10px;
  margin: 5px;
  -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
  font-family: 'quicksand_boldregular'; 
}

#modalPassbook h1 
{
	color: #958a39;
	float: left;
	margin: 5px 0px 0px 5px;
	padding: 0px 0px 0px 10px;
	font-size: 28px;
	
}

#modalPassbook a 
{
	float: right;
	margin: 0px;
	padding: 0px;
	height: 12px;
	font-size: 14px;
	color: #958a39;
	text-decoration: none;
}

#modalPassbook .getPassbook 
{
	clear: both;
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 10px;
	color: #444;
	font-size: 16px;
	border: 0px;
}

