﻿.header {
    background: url("../images/cg_header_logo.png") no-repeat scroll left center hsl(0, 0%, 100%);
    border-bottom: 4px solid #2d7b82;
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.header .menu .subscribe 
{
    background: #2d7b82;
}

.header .menu .subscribe a
{
    color: #fff;
}
/*.footer_logo 
{
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
    display: block;
    border:1px solid #CCC;
    height: 50px;
    width: 84px;
    text-indent: 200%;
    overflow: hidden;
    white-space: nowrap;
    
}*/

#fHome 
{
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
    display: block;
    border:1px solid #CCC;
    height: 50px;
    width: 84px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.content_middle {
    border-bottom: 4px solid #2d7b82;
    padding-top: 30px;
}