﻿.header {
    background: url("../images/header_logo.png") no-repeat left #fff;
    border-bottom: 4px solid hsl(194, 78%, 42%);
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.content_middle {
    border-bottom: 4px solid hsl(194, 78%, 42%);
    padding-top: 30px;
}

#fHome 
{
    
}




