﻿
/* default styles *****************************/

.content_middle .left_content_middle h2, .content_middle .left_content_middle a{
	color: #444;
}
.left_content_middle .article h2{
		margin:20px 0 0 0;
}

.content_middle .left_content_middle h3{
	color: #444;
	font-size: 14px;
	font-family: 'quicksand_boldregular';

}
.content_middle .left_content_middle   a:hover{
	color: #189ac0;
}
.content_middle {
    border-bottom: 4px solid hsl(41, 70%, 46%);
    padding-top: 30px;
}
.defaultPage
{
    width: 330px;
}

.buttondefault,
.buttondefaultleft
{
    height: 35px;
    width: 120px;
	background: #189ac0;
	border: none;
	color: #fff;
	margin: 0 5px;
}
.buttondefault:hover,
.buttondefaultleft:hover
{
	background: #444;
}
.buttondefaultleft
{
    margin-left: 40px;
}

ckbinline
{
    display: inline;
}

.divleft
{
    float: left;
}

.divright
{
    float: right;
}

.failurenotification
{
    color: #FF0000;
    font-size: .8em;
    text-align: left;
}

.left_content_middle .article {
    margin-top: -10px;
    padding-left: 20px;
    width: 640px;
}
.nobulletlist
{
    list-style-type: none;
    list-style-image: none;
	width: 355px;
	font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #444;
	padding: 0;
	margin: 0;
}
.padbottom {
	margin-bottom: 10px;
}
.padbottom span {
	padding-right: 10px;
	text-align: right;
}
.padbottom
.padbottomtop
{
    padding-bottom: 12px;
}

.padbottomcenter
{
    color: #444;
    font-weight: bold;
    margin-left: 20%;
}

.padbottomtop
{
    padding-top: 12px;
}

.padleft
.padbottomleft
{
    padding-left: 20px;
}

.padbottomleft
{
    padding-bottom: 20px;
}

.padtop
{
    padding-bottom: 12px;
}

.paratext,
.paratextblue
{
	font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
	color: #444;
}

.paratextblue 
{
    color: #444;
}

.subsuptext,   /* blue - default */
.subsuptextred  /* red - default */
{
    font-size: 12px;
    font-weight: normal;
    width: 600px;
}

.subsuptext  /* blue - default */
{
    color: #333;
}

.subsuptextred  /* red - default */
{
    color: #FF0000;
}

.adminnote,
.textentry,
.textentrylarge,  /* credit card */
.textentrymedium, /* phone */
.textentrysmall   /* ccv */
{
    border: 1px solid #ccc;
    font-size: .8em;
    padding: 2px;
}
#divcreditcard .textentry
{
   float: none;

}
.textentry
{
    width: 160px;
	/*float: right;*/
}

.textentrylarge 
{
    width: 220px;
}

.textentrymedium 
{
    width: 90px;
}

.textentrysmall 
{
    width: 60px;
}

/* Account styles *****************************/

.accountPage
{
    width: 960px;
}

.accountTablediv
{
    min-height: 30%;
    overflow: auto;
    padding-bottom: 9px;
    text-align: center;
    width: 920px;
}

.accountTable
{
    border: 2px solid #b6b7bc;
}

/* admin styles *****************************/

.admindivdefault
{
    border: 2px solid black;
    margin: 6px auto 0px 20%;
    width: 580px
}

.admintd
{
    width: 3em;
}

.adminnote
{
    
    width: 280px;
}


/* LogIn styles *****************************/


.loginButtonemail
{
    color: #0000FF;
    font-size: .9em;
    font-weight: bold;
}

/* Profile styles *****************************/
.profilePage
{
    margin-top: 20px;
    width: 380px;
}

.profilepadbottom
{
    padding-bottom: 6px;
}

.profilecommand
{
    margin-left: 8%;
    padding-bottom: 12px;
}


/* Confirmation styles *****************************/
.confirmationPage
{
    width: 440px;
}

/* Subscribe styles *****************************/

.subscribePage
{

}

.subscribecommand
{
    padding-bottom: 12px;
    text-align: center;
}

.subscribediv
{
    padding-bottom: 12px;
    padding-left: 8px;
    text-align: left;
    height: 340px;
    width: 340px;
    
}

.subscribedivcancel
{
    margin-left: 8%;
    margin-right: 8%;
    text-align: left;
}
.subscribedivright
{

    text-align: left;
}

.subscribehead
{
    font-weight: bold;
    padding: 2px;
    text-align: center;
}

.subscribetd
{
    font-size: .9em;
    padding-bottom: 6px;
    text-align: left;
}


.subscribeimage
{
    height: 320px;
    width: 320px;
    border: 3 solid black; 
}

/* Checkout styles *****************************/
.checkoutPage
{
    text-align: left;
    width: 680px;
}
.checkoutPage h2 {
	padding: 0 0 5px 0 !important;
	margin: 0 !important;
}
.checkoutcommand
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
	clear: both;
}

#divcreditcard {
    margin: 10px 0;
}
.paratextbold {
font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #444;
}
.paratextbold a {
	font-size: 12px;
	font-weight: normal;
}
.checkoutdivleft
{
    border-right: 3px solid #189ac0;
    float: left;
    height: 460px;
    padding-right: 20px;
    width: 235px;
}
.checkoutdivleft input {
   float: none;
}
.checkoutdivright input {
   float: none;
}
.checkoutdivright
{
    float: left;
    height: 460px;
    padding-left: 30px;
    width: 320px;
}

.checkoutlogreg
{
    color: #0000FF;
    font-size: .8em;
    font-weight: bold;
    margin-left: 20px;
    padding-bottom: 6px;
    text-align: left;
}

.divmessage
{
    color: Red;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20%;
    padding-bottom: 6px;
    text-align: left;
}

.labelmessage
{
    color: #FF0000;
    font-size: 1.2em;
    font-weight: bold;
}

.parasametext /* blue - default */
{
    color: #0000FF;
    font-size: .6em;
    font-weight: bold;
}

.spanzipheader
{
    margin-left: 4em;
}
.spanstateheader
{
    margin-left: 9em;
}


/* purchase/summary styles *****************************/


.purchasebutton
{
    height: 24px;
    width: 120px;
}

.purchasecommand
{
    padding: 15px;
    text-align: center;
}

.purchasedivdefault
{	
	font-family: "Myriad Pro","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
	color: #444;
    border: 2px solid  #189ac0;
    margin: 6px auto 0px 2%;
    width: 96%;
}

.purchasedivpkgleft
{
    float: left;
    margin-left: 12px;
    padding-right: 12px;
}

.purchasedivpkgright
{
    position: relative;
    text-align: left;
}

.purchaseimage
{
    height: 134px;
    width: 120px;
}

.purchasetdleft
{
    margin-left: 2px;
    padding: 2px;
    text-align: left;
}

.purchasetdright
{
    margin-left: 2px;
    padding: 2px;
    text-align: right;
}

.purchasetdul
{
    border-bottom: 2px solid black;
    margin-left: 2px;
    padding: 2px;
    text-align: right;
}

.purchasetdwidth
{
    width: 12em;
}

.purchasetdwidthsmall
{
    width: 10em;
}

.purchasetdwidthmicro
{
    width: 3em;
}

/*  example type grouping */
.selector {
  /* Positioning */
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  /* Display & Box Model */
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 10px solid #333;
  margin: 10px;

  /* Color */
  background: #000;
  color: #fff
  
  /* Text */
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.4;
  text-align: right;

  /* Other */
  cursor: pointer;
}

table.profileInfo 
{
    table-layout: fixed;
    width: 300px;
    
}
table.profileInfo td 
{
    width: 230px;
}
