﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/umbMaster.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server">

 	<asp:ScriptManager ID="sm2Two" runat="server" EnablePageMethods="true" />

 	<asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="/styles/magazine.css" />
		<link rel="stylesheet" type="text/css" href="/styles/article.css" />
        <link rel="Stylesheet" type="text/css" href="/styles/SidePage.css" />
		<link rel="Stylesheet" type="text/css" href="/styles/loginstyle.css" />
        <script type="text/javascript" src="/scripts/magazine.js"></script>
		<script type="text/javascript" src="/scripts/loginsubscribe.js"></script>
    </asp:contentplaceholder>

	<asp:contentplaceholder id="cp_content" runat="server">
		<div class="clear"></div>
        <div class="content_middle">
			<umbraco:Macro Alias="AdBanners" runat="server"></umbraco:Macro>
			<div class="left_content_middle">
				<div class="article">
					<umbraco:Macro Alias="SubscriptionOrderMaster" runat="server"></umbraco:Macro>
				</div>

			</div>
			<div class="right_content_middle">
			
               	<div class="clear"></div>
 			</div>
			<div class="clear"></div>	
		</div>
     </asp:contentplaceholder>	
     <asp:contentplaceholder id="cp_footer" runat="server">
	
	</asp:contentplaceholder>
</asp:content>