﻿<%@ Master Language="C#" MasterPageFile="~/umbraco/masterpages/default.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="ContentPlaceHolderDefault" runat="server">

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"[]> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head id="head" runat="server">
    
  
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <title><asp:placeholder runat="server"><umbraco:item id="Item1" runat="server" field="pageName"></umbraco:item> - <umbraco:item id="Item2" runat="server" field="siteName" recursive="true"></umbraco:item></asp:placeholder></title>
    

    <link rel="stylesheet" type="text/css" href="/css/friendly-ghost_dark.css">
  
     <link href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin" rel="stylesheet" type="text/css">

  <umbraco:macro id="Macro1" alias="BlogRssFeedLink" runat="server"></umbraco:macro>
    
  <asp:contentplaceholder id="cp_head" runat="server"></asp:contentplaceholder>
<link rel="stylesheet" type="text/css" href="/css/friendly-ghost_light.css"></head>
  <body>
    <div id="main">
      <asp:contentplaceholder id="cp_top" runat="server">
        <div id="top">
            <div id="topInner">
                <h1 id="siteName"><a href="/" id="siteNameLink"><umbraco:item id="Item3" runat="server" field="siteName" recursive="true"></umbraco:item></a></h1>
                <h2 id="siteDescription"><umbraco:item id="Item4" runat="server" field="siteDescription" recursive="true"></umbraco:item></h2>
            </div>
            <div id="naviWrap">
                <umbraco:macro id="Macro2" alias="umbTopNavigation" runat="server"></umbraco:macro>
            </div>
        </div>
      </asp:contentplaceholder>
            
      <div id="body" class="clearfix">
          <form id="RunwayMasterForm" runat="server">
            <asp:contentplaceholder id="cp_content" runat="server"></asp:contentplaceholder>
          </form>
      </div> 
      
      <asp:contentplaceholder id="cp_footer" runat="server">
        <div id="footer">
            <div id="footerInner"><span id="skinName">friendly ghost</span> address here, zipcode, country +001 1234 5677</div>
        </div>
        <div id="skinInfo">umbraco cms skin by <a href="http://lieblingdesign.dk">Liebling</a></div>
      </asp:contentplaceholder>
    </div>
  </body>
</html> 
</asp:content>