﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/umbMaster.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server">

    <asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="/styles/magazine.css" />
		<link rel="stylesheet" type="text/css" href="/styles/article.css" />
        <script type="text/javascript" src="/scripts/magazine.js"></script>
    </asp:contentplaceholder>

	<asp:contentplaceholder id="cp_content" runat="server">
		<div class="clear"></div>
        <div class="content_middle">
			<umbraco:Macro Alias="AdBanners" runat="server"></umbraco:Macro>
			<div class="left_content_middle">
				<div class="article">
					<h1><umbraco:Item field="title" runat="server" /></h1>
					<div class="article_content">
						<umbraco:Item field="bodyText" runat="server" />
					</div>
				</div>

			</div>
			<div class="right_content_middle">
				<umbraco:Macro Alias="WidgetController" widgetField="rightContentColumnWidgets" runat="server"></umbraco:Macro>
               	<div class="clear"></div>
 			</div>
			<div class="clear"></div>	
		</div>
		
     </asp:contentplaceholder>	
     <asp:contentplaceholder id="cp_footer" runat="server">
	
	</asp:contentplaceholder>
</asp:content>