.article_pagination {
	margin-top: 20px;
}
.article_pagination .previous_left {
	float: left;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #ccc;
	font-weight: normal;
}
.article_pagination .previous_left a {
	float: left;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
} 
.article_pagination .pagination {
	float: left;
	padding: 0px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
	padding: 0 10px;
	text-align: center;
	width: 360px;
}

.article_pagination .pagination a {
	padding: 0 0 0 10px;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;
	
}

.article_pagination .next_right {
	float: right;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;	
}
.article_pagination .next_right a {
	float: right;
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189bbf;
	font-weight: normal;	
}

.article_pagination .disabled_link 
{
    color: #ccc;
}

.tags {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: left;
	font-weight: normal;
}
.related_articles {
	padding: 20px 0 40px 0 ;
	font-family: 'quicksand_boldregular';
	font-size: 12px;
	color: #94aa39;
	vertical-align: bottom;
	float: right;
	font-weight: normal;
}

.related_articles a 
{
   color: #94aa39;  
}

.tags a 
{
     color: #94aa39;
}

/* styles for digital archive login modal */
#modalLogin 
{
  display: none;
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 30%;
  background-color: #fff;
  border: 1px solid #000;
}

#modalLogin a
{
	float: left;
	margin: 0px;
	padding: 0px;
	height: 12px;
	font-size: 16px;
	text-decoration: none;
}

.logError 
{
	display: none;
	color: red;
}

/* styles for digital archive display list */
.digitalList 
{
	width: 610px;
	list-style: none;
}

.digitalList li {
	width: 180px;
	padding: 10px;
}
.digitalHeader 
{
	background-color: #c0c0c0;
	text-align: center;
	width: 100%;	
}
.dRight 
{
	float: right;
}

.dLeft
{
	float: left;
}

.digitalImage 
{
	text-align: center;
	width: 110px;
}
.digitalLink 
{
	padding: 5px;
	padding-left: 0px;
	display: block;
}
.digitalInst 
{
	padding: 0px 10px;
}
.digitalYear
{
	margin: 5px;
	padding: 5px;
}
