.header .menu .blog {
	background: #5A9537;
}

.header .menu .blog a {
	color: #fff;
}
.header {
	border-bottom: 4px solid #5A9537;
	background: url("/images/logo-blog.png") no-repeat left #fff;
}

#fHome 
{
    background: url("../images/footer-logo-blog.png") no-repeat scroll center transparent;
    display: block;
    height: 50px;
    width: 84px;
    overflow: hidden;
    white-space: nowrap;
}

.content_middle {
	padding-top: 30px;
	border-bottom: 4px solid #5A9537;
}

.blogPost h2.entry-title {
	font-size:24px;
	padding-bottom:10px;
}

#blogType 
{
   font-size: 12px;
   font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
   margin: 0px 0px 0px 10px;
   padding: 0px 0px 0px 10px; 
   position:absolute;
   left:680px;
}

#blogType h3 
{
    font-size: 14px;
    margin-left: 10px;
    padding-left: 10px;
}

#blogType ul 
{
   list-style-type: none;  
}

#blogType ul li 
{
    padding: 3px;
}




.header .menu .magazine{
	background:url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a{
	color:#444;
}

h1.entry-title a  
{
    
}

.left_content_middle .article h1, .left_content_middle .article h1 a{
	font-size:24px;

}

.left_content_middle .article h1 a 
{
   color: #189ac0;
}

.entry-content 
{
    float: left;
}

.entrydate
{
    font-size: 13px; 
}



