﻿.header {
    background: url("../images/logo-courses.png") no-repeat scroll left center hsl(0, 0%, 100%);
    border-bottom: 4px solid #95aa39;
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.header .menu .courses 
{
    background: #95aa39;
    
}

.header .menu .courses a 
{
    color: #fff;
}

#fHome 
{
    background: url("../images/footer-logo-courses.png") no-repeat scroll center transparent;
    display: block;
    height: 50px;
    width: 84px;
    overflow: hidden;
    white-space: nowrap;
}

.content_middle {
    border-bottom: 4px solid #95aa39;
    padding-top: 30px;
}

.left_content_middle .article .article_content{
	width:620px;
}
.content_middle .left_content_middle .content_teaser h2{
	margin:0 0 5px 0;
}

.coursePostListLeftPane{
	position:relative;
	float:left;
	width:150px;
}

.coursePostListRightPane{
	position:relative;
	float:right;
	width:150px;
}

.coursePostListLeftPane, 
.coursePostListRightPane{
	font-size:13px;
}

.content_middle .left_content_middle .content_teaser h1 a{
	font-size:24px;
}


.left_content_middle .article .article_content .coursePhoto{
	position:relative;
	float:right;
	width:300px;
	padding-left:5px;
}

.courseDropdown 
{
    font-size: 12px;
    font-weight: bold;
    font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}

.dRegion 
{
  float: left; 
  padding: 5px 5px 5px 0px;
  margin: 5px 5px 5px 0px; 
}

.dPrice 
{
    float: left;
    padding: 5px;
    margin: 5px;
}

.dCourse 
{
   float: left; 
   padding: 5px;
   margin: 5px;
}
