﻿.header {
    background: url("../images/logo-instruction.png") no-repeat scroll left center hsl(0, 0%, 100%);
    border-bottom: 4px solid #d9ad29;
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .instructions 
{
    background: #d9ad29;
}

.header .menu .magazine a {
	color: #444;
}

.header .menu .instructions a 
{
    color: #fff;
}

.footer_logo i
{
    height: 50px;
    width: 84px;
    display: block;
    background: url("../images/cg_footer_logo.png") no-repeat scroll center transparent;
}

#fHome 
{
    background: url("../images/footer-logo-instruction.png") no-repeat scroll center transparent;
    display: block;
    height: 50px;
    width: 84px;
    overflow: hidden;
    white-space: nowrap;
}

.content_middle {
    border-bottom: 4px solid #d9ad29;
    padding-top: 30px;
}