.header .menu .magazine {
	background: #c79223;
}

.header .menu .magazine a {
	color: #fff;
}
.header {
	border-bottom: 4px solid #c79223;
	background: url("../images/magazine_header_logo.png") no-repeat left #fff;
}

.footer_logo 
{
    height: 50px;
    width: 84px;
    display: block;
    background: url("../images/magazine_footer_logo.png") no-repeat scroll center transparent;
}

#fHome 
{
    background: url("../images/magazine_footer_logo.png") no-repeat scroll center transparent;
    display: block;
    border:1px solid #CCC;
    height: 50px;
    width: 84px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.ad_left  img {
	margin: -29px 0 0 -176px;
}
.ad_right img {
    margin: -29px -181px 0 18px;
}
.content_middle {
	padding-top: 30px;
	border-bottom: 4px solid #c79223;
}
.left_content_middle {
	
}
.left_content_middle .article {
	margin-top: -10px;
	width: 640px;
	padding-left: 20px;
}
.left_content_middle .article .article_content {
	float: left;
	width: 535px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	margin-top: 20px;
}
.left_content_middle .article  h1, 
.left_content_middle .article h1 a {
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 32px;
	color: #444;
	margin: 0;
}
.left_content_middle .article  h2, 
.left_content_middle .article  h2 a {
	font-family: 'quicksand_boldregular';
	font-size: 16px;
	color: #189ac0;
	margin: 0 0 25px 0;
	padding-bottom:10px;
	font-weight: normal;
}
.left_content_middle .article .article_content h3 {
	font-family: 'quicksand_boldregular';
	font-size: 28px;
	color: #1899bf;
	font-weight: normal;
	margin: 0;
}
#comments{
	padding-top:20px;
}
#comments #respond h3 {
	font-size:14px;
}
.left_content_middle .article .article_content h4 {
	color: #92aa39;
	font-size: 14px;
	margin: 5px 0 10px 0;
	font-weight: normal;
}

.left_content_middle .article .article_share {
	margin-top: -70px;
	text-align: right;
}
.left_content_middle .article .article_content h5 {
	color: #333;
	font-size: 14px;
	margin: 0;
}
.left_content_middle .article .article_content p {
	color: #333;
	font-size: 14px;
	margin: 0 0 10px 0;
	font-weight: normal;
	line-height: 130%;
}
.left_content_middle .article .subscribe h1 {
	font-family: 'quicksand_book_obliqueregular';
	font-size: 24px;
	color: #c69222;
	font-weight: normal;
	float: left;
	padding-top: 15px;
}
.left_content_middle .article .subscribe  {
	margin: 10px 0;
}
.left_content_middle .article .subscribe .subscribe_action {
    float: left;
    line-height: 110%;
    margin: 20px 0 40px 25px;
    text-align: center;
}
.left_content_middle .article .subscribe .subscribe_button {
	background: #1899bf;
	font-family: 'quicksand_boldregular';
	padding: 10px 15px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.left_content_middle .article .subscribe {
	color: #444;
	font-size: 14px;
	font-family: "Myriad Pro", "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	text-align: right;
}
.left_content_middle .article .subscribe  a {
	color: #94aa39;
	font-weight: bold;
}
.content_middle .right_content_middle .blue_line {
  margin-top: 35px;
}

.entry-meta{
	font-size:12px;
	font-style:italic;
}
.entry-title{
	margin: 10px 0 0 0 !important;
	text-transform: capitalize;
}
.entry-date{
	margin-bottom:5px;
}
.entrydate{
	font-size:12px;
}
.tag-links a, 
.comments-link a{
	color: #1899bf;
}

.dailyDealFormFields{
	padding-left:20px;
	width:400px;
	font-family:"Myriad Pro","Lucida Grande","Lucida Sans Unicode",Arial,sans-serif;
}

.dailyDealFormFields .dailyDealFormField {
	padding-bottom:15px;
	clear:both;
	text-align:right;
}

.dailyDealFormFields .dailyDealFormField span{
	margin-right:15px;
}
.dailyDealFormFields .dailyDealFormField input, 
.dailyDealFormFields .dailyDealFormField select{
	float:right;
	width:200px;
}
.dailyDealFormFields .dailyDealFormField select{
	width:205	px;
}

.errMsg{
	color:#c40000;
	margin:0 0 5px 40px;
}