﻿.header {
    background: url("../images/header_logo.png") no-repeat left #fff;
    border-bottom: 4px solid hsl(194, 78%, 42%);
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}


.header .menu .magazine a {
	color: #444;
}

#fHome 
{
    background: url("../images/cg_footer_logo_home.png") no-repeat scroll center transparent;
    display: block;
    border:1px solid #CCC;
    height: 50px;
    width: 84px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
}

.content_middle {
    border-bottom: 4px solid hsl(194, 78%, 42%);
    padding-top: 30px;
}


