﻿/*** ESSENTIAL STYLES ***/
.sf-region ul {
	position: relative;
	top: -900em;
	width: 6em; /* left offset of submenus need to match (see below) */
	margin: 0;
	padding: 0;
} 

.sf-region li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
	
}

.sf-region a {
	display: block;
	position: relative;
	height: 15px;
}
.sf-region li ul li{
	background:#fff;
	border:solid 1px #444;
	padding:4px;
}
.sf-region li:hover ul,
.sf-region li.sfHover ul {
	right:			1.6em;
	top:			.3em; /* match top ul list item height original 2.5 */
	z-index:		99;
	border: none;
}
ul..sf-region li:hover li ul,
ul..sf-region li.sfHover li ul {
	top:			-999em;
}
ul..sf-region li li:hover ul,
ul..sf-region li li.sfHover ul 
{
    right: 6em; /* match ul width */
	top:			0;
	margin: 0;
	padding: 0;
}
ul..sf-region li li:hover li ul,
ul..sf-region li li.sfHover li ul {
	top:			-999em;
}
ul..sf-region li li li:hover ul,
ul..sf-region li li li.sfHover ul 
{
    right: 6em; /* match ul width */
	top: 0;
	margin: 0;
	padding: 0;
}
/*** arrows **/
.sf-region a.sf-with-ul {
	padding-right: 	0;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-region ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-region ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-region ul a:focus > .sf-sub-indicator,
.sf-region ul a:hover > .sf-sub-indicator,
.sf-region ul a:active > .sf-sub-indicator,
.sf-region ul li:hover > a > .sf-sub-indicator,
.sf-region ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}