﻿.header {
    background: url("../images/header_logo.png") no-repeat left #fff;
    border-bottom: 4px solid hsl(194, 78%, 42%);
}

.header .menu .magazine {
    background: url("../images/header_menu_bg.png") repeat scroll left center transparent;
}

.header .menu .magazine a {
	color: #444;
}

.content_middle {
    border-bottom: 4px solid hsl(194, 78%, 42%);
    padding-top: 30px;
}

.audio_links li 
{
    padding: 5px 5px 5px 0;
}
.audio_links a 
{
    color: #95aa39;
}

#fHome 
{
    background: url("../images/cg_footer_logo_home.png") no-repeat scroll center transparent;
    display: block;
    height: 50px;
    width: 84px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
}




