﻿<%@ Master Language="C#" MasterPageFile="~/masterpages/umbMaster.master" AutoEventWireup="true" %>
<asp:content id="Content1" contentplaceholderid="cp_content" runat="server">

    <asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="/styles/magazine.css" />
		<link rel="stylesheet" type="text/css" href="/styles/article.css" />
        <link rel="stylesheet" type="text/css" href="/styles/instruction.css" />
        <script type="text/javascript" src="/scripts/magazine.js"></script>
		<script type="text/javascript" src="/scripts/cartgirl.js"></script>
        <script type="text/javascript">var switchTo5x = true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<umbraco:Macro Alias="PageHitCounter" runat="server"></umbraco:Macro>
    </asp:contentplaceholder>

	<asp:contentplaceholder id="cp_content" runat="server">
		<div class="clear"></div>
        <div class="content_middle">
			<umbraco:Macro Alias="AdBanners" runat="server"></umbraco:Macro>
			<div class="left_content_middle">
				<umbraco:Macro Alias="ArticlePost" runat="server"></umbraco:Macro>
				<umbraco:Macro Alias="MostViewedArticles" runat="server"></umbraco:Macro>

			</div>
			<div class="right_content_middle">
				<umbraco:Macro Alias="WidgetController" widgetField="rightContentColumnWidgets" runat="server"></umbraco:Macro>
               	<div class="clear"></div>
 			</div>
			<div class="clear"></div>	
		</div>
		
     </asp:contentplaceholder>	
     <asp:contentplaceholder id="cp_footer" runat="server"></asp:contentplaceholder>
</asp:content>