﻿<%@ master language="C#" masterpagefile="~/masterpages/umbMaster.master" autoeventwireup="true" %>

<asp:content contentplaceholderid="cp_content" runat="server">
	<asp:contentplaceholder id="cp_head" runat="server">
        <link rel="stylesheet" type="text/css" href="/styles/magazine.css" />
		<link rel="stylesheet" type="text/css" href="/styles/article.css" />
		<link rel="stylesheet" type="text/css" href="/styles/blog.css" />
        <script type="text/javascript" src="/scripts/magazine.js"></script>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		
		
	</asp:contentplaceholder>
	
	
	<div class="clear"></div>
	<div class="content_middle">
		<umbraco:Macro Alias="AdBanners" runat="server"></umbraco:Macro>
		<div class="left_content_middle">
			<div class="article">
				<div class="blogPost">
					<h1>Blog</h1>
					<h2 class="entry-title"><umbraco:Item field="pageName" runat="server"></umbraco:Item></h2>
				</div>
				
				<div class="entry-date">
				  <abbr class='published' title='<umbraco:Item field="PostDate" useIfEmpty="createDate" formatAsDate="true" runat="server"/>'>
						<umbraco:Item field="PostDate" useIfEmpty="createDate" formatAsDate="true" runat="server"/>
					</abbr>
				</div>
                
				<div class="article_content">
                    <div class="article_share">
					<span class='st_facebook'></span>
                    <span class='st_twitter'></span>
                    <span class='st_email'></span>
				</div>
                <div class="clear"></div>
					<div class="entry-content">
						<umbraco:Item field="bodyText" runat="server"></umbraco:Item>
					</div>
					<div class="clear"></div>
					<div class="blogPost">
						<div class="entry-meta">
							written by <span class="author vcard"><spam class="fn n"><umbraco:Item field="writerName" runat="server"/></span></span>,
							posted on <abbr class="published" title='<umbraco:Item ID="Item1" field="PostDate" formatAsDate="true" runat="server"/>'><umbraco:Item field="PostDate" formatAsDate="true" runat="server"/></abbr>
							<br /><br />
							Bookmark the <a href='<umbraco:Item field="pageID" runat="server" xslt="umbraco.library:NiceUrl({0})"></umbraco:Item>' title="Permalink" rel="bookmark">permalink</a>.
							<!--Follow any comments here with the
							<umbraco:Item field="pageID" runat="server" xslt="concat('&lt;a href=&quot;',umbraco.library:Replace(umbraco.library:NiceUrl({0}),'.aspx',''),'/commentrss.aspx','&quot; title=&quot;Comments RSS&quot; rel=&quot;alternate&quot; type=&quot;application/rss+xml&quot;&gt;','RSS feed for this post','&lt;/a&gt;')" xsltDisableEscaping="true" ></umbraco:Item>.-->
								<!-- You can <a class="comment-link" href="#respond" title="Post a comment">post a comment</a>. -->
						</div>
					</div>
	  
					<div id="related">
						<umbraco:Macro Alias="BlogpostRelatedPages" runat="server"></umbraco:Macro>
					</div>
					<!--
					<div id="comments">
						<umbraco:Macro Alias="BlogPostListComments" ></umbraco:Macro>

						<div id="respond">
							<h3>Post a comment</h3>
							<umbraco:Macro CommentsClosedMessage="Sorry, comments are closed" Alias="frmBlogComment" ></umbraco:Macro>
						</div>
						
					</div>
					-->
					
				</div>
				
				<div class="clear"></div>
			</div>
		</div>
			
		<div class="right_content_middle">
			<div id="subNavigation">
				<umbraco:Macro Alias="umb2ndLevelNavigation" runat="server"></umbraco:Macro>
			</div>
			
			<umbraco:Macro Alias="WidgetController" widgetField="rightContentColumnWidgets" runat="server"></umbraco:Macro>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>	
	</div>
	

</asp:content>